Repository sophon-org/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

Audit (N-02): unused SSO var (#377)
  src/SsoAccount.sol
Due: none

Audit (N-013): minor gas optimization (#378)
  src/validators/WebAuthValidator.sol
Due: none

Audit (M-04): clean up pending recovery data on module unInstall (#342)
  src/validators/GuardianRecoveryValidator.sol
  test/GuardianRecoveryValidatorTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

Audit (N-02): remove unused code (errors) (#350)
  src/validators/GuardianRecoveryValidator.sol
Due: none

Audit (M-05): add check for active WebAuthValidator in onInstall method (#343)
  src/validators/GuardianRecoveryValidator.sol
  test/GuardianRecoveryValidatorTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

Audit (L-03): pendingRecoveryData does not need to be public (#346)
  src/validators/GuardianRecoveryValidator.sol
Due: none

Audit (N-12): add security contact (#355)
  src/validators/GuardianRecoveryValidator.sol
Due: none

Audit (N-16): use calldata whenever possible instead of memory (#360)
  src/validators/GuardianRecoveryValidator.sol
Due: none

Audit (N-15): use more limiting visibility specifier (#359)
  src/validators/GuardianRecoveryValidator.sol
Due: none

Audit (N-08): unify type for timestamp (#357)
  src/validators/GuardianRecoveryValidator.sol
Due: none

Audit (N-13): use prefix increment operator for gas optimization (#356)
  src/validators/GuardianRecoveryValidator.sol
Due: none

Audit (L-06): add zero address checks (#349)
  src/validators/GuardianRecoveryValidator.sol
  test/GuardianRecoveryValidatorTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

Audit (M-03): overwrite recovery process (#379)
  src/validators/GuardianRecoveryValidator.sol
  test/GuardianRecoveryValidatorTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

Audit (N-07): use safeCastToAddress in GuardianRecoveryValidator (#351)
  src/validators/GuardianRecoveryValidator.sol
Due: none

Audit (N-11): use named parameters in mappings (#358)
  src/validators/GuardianRecoveryValidator.sol
Due: none

Audit (N-10): use custom error instead of string revert (#354)
  src/validators/GuardianRecoveryValidator.sol
  test/GuardianRecoveryValidatorTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

Audit (N-14): unify methods ordering (#362)
  src/validators/GuardianRecoveryValidator.sol
Due: none

fix(N-05,N-06): make interface consistent with implementation (#361)
  src/interfaces/IGuardianRecoveryValidator.sol
  src/validators/GuardianRecoveryValidator.sol
Due: none

Audit (L-05): store accounts hashed origin domains (#347)
  src/interfaces/IGuardianRecoveryValidator.sol
  src/validators/GuardianRecoveryValidator.sol
Due: none

Audit (M-06): fix pending guardian blocking unInstall method (#345)
  src/validators/GuardianRecoveryValidator.sol
  test/GuardianRecoveryValidatorTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

Audit (L-10): missing documentation (#380)
  src/interfaces/IGuardianRecoveryValidator.sol
  src/validators/GuardianRecoveryValidator.sol
Due: none

feat: audited guardian recovery (#398)
  package.json
  pnpm-lock.yaml
  scripts/deploy.ts
  src/AAFactory.sol
  src/SsoAccount.sol
  src/TransparentProxy.sol
  src/helpers/VerifierCaller.sol
  src/interfaces/IGuardianRecoveryValidator.sol
  src/interfaces/IHookManager.sol
  src/libraries/Errors.sol
  src/test/ExampleAuthServerPaymaster.sol
  src/validators/GuardianRecoveryValidator.sol
  src/validators/WebAuthValidator.sol
  test/BasicTest.ts
  test/GuardianRecoveryValidatorTest.ts
  test/PasskeyModule.ts
  test/SessionKeyTest.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix: simplify ERC1271 validation (#391)
  src/handlers/ERC1271Handler.sol
Due: none

Fix/deploy script with recovery guardians (#409)
  scripts/deploy.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

test: add ERC1271 tests (#392)
  src/test/ERC1271Caller.sol
  test/BasicTest.ts
  test/PasskeyModule.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: upgrade zksolc (#437)
  hardhat.config.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: enable tests
  package.json
  test/GuardianRecoveryValidatorTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix: un-upgrade hardhat
  package.json
Due: prettier --write --ignore-unknown

chore: add logging to help debug validation
  src/SsoAccount.sol
  src/libraries/SessionLib.sol
  src/validators/SessionKeyValidator.sol
  test/PasskeyModule.ts
  test/SessionKeyTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: re-create session for passkey creation
  test/SessionKeyTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

Add Guardian Recovery Module readme (#385)
  README.md
Due: cspell lint --no-must-find-files --files

chore: remove assert to get state
  test/SessionKeyTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: enable tests (#438)
  test/GuardianRecoveryValidatorTest.ts
  test/PasskeyModule.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: perform deploy as part of upgrade (#443)
  README.md
  scripts/deploy.ts
  scripts/upgrade.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: update webauthn deps
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/slither.yml
  package.json
Due: prettier --write --ignore-unknown

feat: add guardian contracts to publish (#446)
  scripts/publish.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: remove webauthn js lib (#444)
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

feat: perform no validation for testing
  src/SsoAccount.sol
Due: none

chore: small warning on module unliking (#448)
  src/interfaces/IValidatorManager.sol
Due: none

Path conditions:
  cspell lint --no-must-find-files --files: (any of: *.{js,ts,vue,mjs,cjs}) or (any of: *.md)
  eslint --fix: any of: *.{js,ts,vue,mjs,cjs}
  tsc-files --project ./tsconfig.base.json --noEmit: any of: *.ts
  prettier --write --ignore-unknown: any of: *.{yml,yaml,json}
