Repository sophon-org/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

.lintstagedrc.yml:

"*.{js,ts,vue,mjs,cjs}":
  - cspell lint --no-must-find-files --files
  - eslint --fix
"*.ts":
  - tsc-files --project ./tsconfig.base.json --noEmit
"*.md":
  - cspell lint --no-must-find-files --files
"*.{yml,yaml,json}":
  - prettier --write --ignore-unknown

chore(ci): add build-static config
  nx.json
Due: prettier --write --ignore-unknown

fix: spelling in firebase.json
  firebase.json
Due: prettier --write --ignore-unknown

chore(ci): adjust firebase deploy for gateway
  .firebaserc
  .gitignore
Due: none

fix: session and passkey signatures, esm/cjs, etc
  docs/sdk/client/README.md
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/PasskeyModule.ts
  packages/gateway/components/views/Login.vue
  packages/gateway/stores/client.ts
  packages/sdk/.gitignore
  packages/sdk/package.json
  packages/sdk/src/client/actions/index.ts
  packages/sdk/src/client/actions/passkey.ts
  packages/sdk/src/client/actions/session.ts
  packages/sdk/src/client/clients/session.ts
  packages/sdk/src/client/decorators/passkey.ts
  packages/sdk/src/client/index.ts
  packages/sdk/src/client/passkey.ts
  packages/sdk/src/client/smart-account.ts
  packages/sdk/src/client/utils/assertEip712Transaction.ts
  packages/sdk/src/client/utils/getEip712Domain.ts
  packages/sdk/src/client/utils/isEip712Transaction.ts
  packages/sdk/src/package.json
  packages/sdk/src/project.json
  packages/sdk/tsconfig.build.cjs.json
  packages/sdk/tsconfig.build.json
  packages/sdk/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix: add missing dependency
  packages/sdk/src/package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

fix: update more names in hopes that CI passes
  packages/contracts/src/validators/WebAuthValidator.sol
  packages/contracts/test/EndToEndSpendLimit.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: add more arguments to session key client
  packages/contracts/test/EndToEndSpendLimit.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: add more cspell ignore paths
  cspell.json
  packages/sdk/src/client/utils/getEip712Domain.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix: update CI to link sdk to contracts
  .github/workflows/ci.yml
Due: prettier --write --ignore-unknown

fix: use file import instead of workspace
  .github/workflows/ci.yml
  packages/contracts/package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

fix: undo eip712 change
  packages/sdk/src/client/utils/getEip712Domain.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: e2e fixes, reuse smart account and passkey utils from sdk
  packages/contracts/package.json
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/sdk/PasskeyClient.ts
  packages/contracts/test/sdk/utils/passkey.ts
  packages/contracts/test/utils.ts
  packages/sdk/src/client/actions/account.ts
  packages/sdk/src/client/clients/passkey.ts
  packages/sdk/src/package.json
  packages/sdk/src/utils/passkey.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix: updates
  packages/demo-app/pages/index.vue
  packages/gateway/components/views/confirmation/Send.vue
  packages/sdk/src/client-gateway/Signer.ts
  packages/sdk/src/client-gateway/WalletProvider.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: edits
  .github/workflows/deploy-preview.yml
  renovate.json
Due: prettier --write --ignore-unknown

fix: focus on session key signing
  packages/contracts/package.json
  packages/contracts/src/validators/SessionPasskeySpendLimitModule.sol
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/signed-challenge.json
  packages/contracts/test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix: update signatures and split tests
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/signed-challenge.json
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

docs: update docs for projects and development
  .husky/commit-msg
  .husky/pre-commit
  README.md
  docs/nx-cheatsheet.md
  docs/verdaccio.md
  nx.json
  package.json
  packages/demo-app/README.md
  packages/demo-app/package.json
  project.json
Due: cspell lint --no-must-find-files --files, prettier --write --ignore-unknown

chore: add prettier solidity
  .prettierignore
  .prettierrc.json
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

chore: firebase config
  .firebaserc
  .github/workflows/deploy-preview.yml
  firebase.json
Due: prettier --write --ignore-unknown

fix: clean up tests
  packages/contracts/test/EndToEndSpendLimit.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: viem test
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/signed-viem-challenge.json
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix: use sdk build command, not just cjs
  .github/workflows/ci.yml
Due: prettier --write --ignore-unknown

fix: add demo-app to workspaces
  pnpm-workspace.yaml
Due: prettier --write --ignore-unknown

fix: update lock
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

fix: update sdk location in package
  packages/contracts/package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

fix: update sdk dist logic
  .github/workflows/ci.yml
  packages/contracts/package.json
  packages/demo-app/package.json
  packages/gateway/package.json
  packages/sdk/.gitignore
  packages/sdk/package.json
  packages/sdk/scripts/postbuild.ts
  packages/sdk/scripts/tsconfig.json
  packages/sdk/src/package.json
  pnpm-lock.yaml
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix: remove network hardhat argument from contracts test
  packages/contracts/package.json
Due: prettier --write --ignore-unknown

fix: add prepare script
  packages/sdk/package.json
Due: prettier --write --ignore-unknown

fix: add prepare script
  package.json
  packages/sdk/package.json
  packages/sdk/scripts/postbuild.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

Revert "fix: add prepare script"
  package.json
  packages/sdk/package.json
  packages/sdk/scripts/postbuild.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

Revert "fix: add prepare script"
  packages/sdk/package.json
Due: prettier --write --ignore-unknown

Revert "fix: update sdk dist logic"
  .github/workflows/ci.yml
  packages/contracts/package.json
  packages/demo-app/package.json
  packages/gateway/package.json
  packages/sdk/.gitignore
  packages/sdk/package.json
  packages/sdk/scripts/postbuild.ts
  packages/sdk/scripts/tsconfig.json
  packages/sdk/src/package.json
  pnpm-lock.yaml
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix: undo sdk structure changes
  packages/contracts/package.json
Due: prettier --write --ignore-unknown

fix: remove typecheck from contract tests
  .github/workflows/ci.yml
Due: prettier --write --ignore-unknown

fix: skip failing ethers tests
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/signed-ethers-passkey.json
  packages/sdk/dist/.gitkeep
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix: split spelling with a comment
  packages/sdk/src/client/utils/getEip712Domain.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: use dynamic validation signature
  packages/contracts/src/ERC7579Account.sol
  packages/contracts/src/handlers/ValidationHandler.sol
  packages/contracts/src/interfaces/IModuleValidator.sol
  packages/contracts/src/validators/SessionPasskeySpendLimitModule.sol
  packages/contracts/src/validators/WebAuthValidator.sol
Due: none

fix: tests cleanup and reuse sdk
  docs/sdk/client/README.md
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/gateway/components/views/Login.vue
  packages/sdk/src/abi/Factory.ts
  packages/sdk/src/abi/SessionPasskeySpendLimitModule.ts
  packages/sdk/src/client/actions/account.ts
  packages/sdk/src/client/actions/session.ts
  packages/sdk/src/client/decorators/passkey.ts
  packages/sdk/src/client/decorators/session.ts
  packages/sdk/src/client/utils/getEip712Domain.ts
  packages/sdk/src/utils/encoding.ts
  packages/sdk/src/utils/index.ts
  packages/sdk/src/utils/passkey.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: gateway
  docs/sdk/client/README.md
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/sdk/PasskeyClient.ts
  packages/gateway/components/views/Login.vue
  packages/gateway/components/views/confirmation/RequestSession.vue
  packages/gateway/package.json
  packages/gateway/stores/client.ts
  packages/gateway/utils/communicator.ts
  packages/sdk/src/client/actions/account.ts
  packages/sdk/src/client/clients/passkey.ts
  packages/sdk/src/utils/passkey.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix: undo workspaces change
  pnpm-workspace.yaml
Due: prettier --write --ignore-unknown
