Repository sophon-org/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

.lintstagedrc.yml:

"*.{js,ts,vue,mjs,cjs}":
  - cspell lint --no-must-find-files --files
  - eslint --fix
"*.ts":
  - tsc-files --project ./tsconfig.base.json --noEmit
"*.md":
  - cspell lint --no-must-find-files --files
"*.{yml,yaml,json}":
  - prettier --write --ignore-unknown

docs: edit readme
  README.md
Due: cspell lint --no-must-find-files --files

Add monorepo tools with nx
  .github/workflows/ci.yml
  .gitignore
  contracts/package.json
  nx.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write --ignore-unknown

Update package manager format
  contracts/package.json
  contracts/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

Specify major version of pnpm
  contracts/package.json
  package.json
Due: prettier --write --ignore-unknown

Remove pnpm version from ci
  .github/workflows/ci.yml
Due: prettier --write --ignore-unknown

fix: remove git submodules
  .github/workflows/secrets_scanner.yaml
Due: prettier --write --ignore-unknown

fix: sdk update
  packages/sdk/package-lock.json
  packages/sdk/package.json
  packages/sdk/src/client/createWalletClient.ts
  packages/sdk/src/client/decorators/session.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

Add head and base shas for nx test running
  .github/workflows/ci.yml
Due: prettier --write --ignore-unknown

Add top level npm lockfile for nx
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Add era-test-node to setup to CI
  .github/workflows/ci.yml
Due: prettier --write --ignore-unknown

Update contract packages
  package-lock.json
  packages/contracts/package.json
Due: prettier --write --ignore-unknown

Remove default cache location for github ci
  nx.json
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

Remove nx cloud from config
  nx.json
Due: prettier --write --ignore-unknown

Add new CI job that doesn't use nx
  .github/workflows/ci.yml
  README.md
Due: cspell lint --no-must-find-files --files, prettier --write --ignore-unknown

Update npm commands with run
  .github/workflows/ci.yml
Due: prettier --write --ignore-unknown

Remove build step from nx
  .github/workflows/ci.yml
Due: prettier --write --ignore-unknown

Skip incomplete test
  packages/contracts/.npmrc
  packages/contracts/scripts/deployFactoryAccount.ts
  packages/contracts/test/EndToEndSpendLimit.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

Add deploy step to fix tests
  .github/workflows/ci.yml
Due: prettier --write --ignore-unknown

Remove nx parallel version with no locking file
  .github/workflows/ci.yml
Due: prettier --write --ignore-unknown

fix: update add passkey method
  packages/sdk/src/client/decorators/session.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

Remove standard account for test
  packages/contracts/scripts/deployFactoryAccount.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: add e2e test for contracts
  .gitignore
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  packages/contracts/src/AAFactory.sol
  packages/contracts/src/ERC7579Account.sol
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

Remove npm workspace setup
  package-lock.json
  package.json
  packages/contracts/package-lock.json
Due: prettier --write --ignore-unknown

Failed to hit block limit by proxy
  packages/contracts/src/AAFactory.sol
  packages/contracts/src/ERC7579Account.sol
  packages/contracts/test/AccountAbstraction.ts
  packages/contracts/test/EndToEndSpendLimit.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

wip
  LICENSE.txt
  nx.json
  package-lock.json
  package.json
  packages/sdk_backup/.gitignore
  packages/sdk_backup/README.md
  packages/sdk_backup/package-lock.json
  packages/sdk_backup/package.json
  packages/sdk_backup/src/client-gateway/Signer.ts
  packages/sdk_backup/src/client-gateway/WalletProvider.ts
  packages/sdk_backup/src/client-gateway/index.ts
  packages/sdk_backup/src/client-gateway/interface.ts
  packages/sdk_backup/src/client-gateway/message.ts
  packages/sdk_backup/src/client-gateway/method.ts
  packages/sdk_backup/src/client/createWalletClient.ts
  packages/sdk_backup/src/client/decorators/session.ts
  packages/sdk_backup/src/client/decorators/wallet.ts
  packages/sdk_backup/src/client/index.ts
  packages/sdk_backup/src/client/smart-account.ts
  packages/sdk_backup/src/communicator/PopupCommunicator.ts
  packages/sdk_backup/src/communicator/index.ts
  packages/sdk_backup/src/communicator/interface.ts
  packages/sdk_backup/src/connector/index.ts
  packages/sdk_backup/src/errors/constants.ts
  packages/sdk_backup/src/errors/errors.ts
  packages/sdk_backup/src/errors/index.ts
  packages/sdk_backup/src/errors/serialize.ts
  packages/sdk_backup/src/errors/utils.ts
  packages/sdk_backup/src/index.ts
  packages/sdk_backup/src/types/index.d.ts
  packages/sdk_backup/src/utils/helpers.ts
  packages/sdk_backup/src/utils/provider.ts
  packages/sdk_backup/src/utils/storage.ts
  packages/sdk_backup/src/version.ts
  packages/sdk_backup/tsconfig.base.json
  packages/sdk_backup/tsconfig.build.json
  packages/sdk_backup/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

wip
  packages/gateway/components/views/Connect.vue
  packages/gateway/components/views/confirmation/RequestSession.vue
  packages/gateway/components/views/confirmation/Send.vue
  packages/gateway/composables/useAppMeta.ts
  packages/gateway/eslint.config.mjs
  packages/gateway/package.json
  packages/gateway/stores/requests.ts
  packages/gateway/utils/communicator.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

Failing to install passkey + validator
  packages/contracts/package.json
  packages/contracts/src/AAFactory.sol
  packages/contracts/src/ClaveAccount.sol
  packages/contracts/src/ERC7579Account.sol
  packages/contracts/src/handlers/ERC1271Handler.sol
  packages/contracts/src/handlers/ValidationHandler.sol
  packages/contracts/src/interfaces/IValidatorManager.sol
  packages/contracts/src/libraries/ClaveStorage.sol
  packages/contracts/src/managers/ValidatorManager.sol
  packages/contracts/test/AccountAbstraction.ts
  packages/contracts/test/EndToEndSpendLimit.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

remove verdaccio
  .verdaccio/config.yml
  project.json
Due: prettier --write --ignore-unknown

Removed debug statements
  packages/contracts/src/AAFactory.sol
  packages/contracts/src/ClaveAccount.sol
  packages/contracts/src/ERC7579Account.sol
  packages/contracts/src/handlers/ERC1271Handler.sol
  packages/contracts/src/handlers/ValidationHandler.sol
  packages/contracts/src/managers/ValidatorManager.sol
Due: none

Test cleanup
  packages/contracts/test/EndToEndSpendLimit.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

make progress on tests
  packages/contracts/test/EndToEndSpendLimit.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

investigate failing tests
  packages/contracts/src/AAFactory.sol
  packages/contracts/src/ClaveAccount.sol
  packages/contracts/test/EndToEndSpendLimit.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit
