Repository sophon-org/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

.lintstagedrc.yml:

"*.{js,ts,vue,mjs,cjs}":
  - cspell lint --no-must-find-files --files
  - eslint --fix
"*.ts":
  - tsc-files --project ./tsconfig.base.json --noEmit
"*.md":
  - cspell lint --no-must-find-files --files
"*.{yml,yaml,json}":
  - prettier --write --ignore-unknown

fix: update abi
  packages/sdk/src/abi/SessionKeyModule.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: gas estimation
  packages/contracts/test/SessionKeyTest.ts
  packages/contracts/test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: add more logs
  packages/contracts/test/SessionKeyTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: rename zksync-account to zksync-sso and optimize e2e tests
  .github/workflows/ci.yml
  README.md
  docs/sdk/client-gateway/README.md
  docs/sdk/client/README.md
  package.json
  packages/bank-demo/components/app/AddCryptoButton.vue
  packages/bank-demo/package.json
  packages/bank-demo/pages/crypto-account.vue
  packages/contracts/package.json
  packages/contracts/test/sdk/PasskeyClient.ts
  packages/contracts/test/utils.ts
  packages/demo-app/package.json
  packages/demo-app/pages/index.vue
  packages/demo-app/tests/create-account.spec.ts
  packages/gateway/README.md
  packages/gateway/components/views/Connect.vue
  packages/gateway/components/views/Login.vue
  packages/gateway/components/views/confirmation/RequestAccounts.vue
  packages/gateway/components/views/confirmation/RequestSession.vue
  packages/gateway/components/views/confirmation/Send.vue
  packages/gateway/composables/useAccountRegistration.ts
  packages/gateway/composables/useAppMeta.ts
  packages/gateway/package.json
  packages/gateway/stores/client.ts
  packages/gateway/stores/requests.ts
  packages/gateway/utils/communicator.ts
  packages/nft-quest/package.json
  packages/nft-quest/stores/connector.ts
  packages/sdk/README.md
  packages/sdk/package.json
  pnpm-lock.yaml
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore(nft-quest): edit sign up button styling
  packages/gateway/components/views/Login.vue
  packages/gateway/components/views/confirmation/RequestSession.vue
  packages/nft-quest/app.vue
Due: cspell lint --no-must-find-files --files, eslint --fix

chore: deploy to sepolia testnet
  packages/contracts/test/utils.ts
  packages/gateway/nuxt.config.ts
  packages/gateway/stores/client.ts
  packages/nft-quest-contracts/deploy/deploy.ts
  packages/nft-quest/nuxt.config.ts
  packages/nft-quest/public/nft/metadata.json
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore: update auth-server to use dynamic chain
  packages/gateway/composables/useAccountRegistration.ts
  packages/gateway/index.d.ts
  packages/gateway/nuxt.config.ts
  packages/gateway/pages/login.vue
  packages/gateway/pages/register.vue
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: add github actions for deploying apps
  .github/workflows/deploy-gateway.yml
  .github/workflows/deploy-nft-quest.yml
  packages/bank-demo/project.json
  packages/contracts/project.json
  packages/demo-app/project.json
  packages/gateway/package.json
  packages/gateway/project.json
  packages/nft-quest-contracts/project.json
  packages/nft-quest/project.json
  packages/sdk/project.json
Due: prettier --write --ignore-unknown

chore: update nft-quest demo to use configurable auth server and update default auth server url
  packages/nft-quest/components/TransferZeek.vue
  packages/nft-quest/index.d.ts
  packages/nft-quest/nuxt.config.ts
  packages/nft-quest/pages/mint/share.vue
  packages/nft-quest/stores/connector.ts
  packages/sdk/src/client-gateway/WalletProvider.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: fix nft-quest app
  packages/nft-quest/index.d.ts
  packages/nft-quest/nuxt.config.ts
  packages/nft-quest/stores/connector.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: update workflows
  .github/workflows/deploy-gateway.yml
  .github/workflows/deploy-nft-quest.yml
  packages/gateway/project.json
Due: prettier --write --ignore-unknown

chore: edit
  .github/workflows/deploy-gateway.yml
  .github/workflows/deploy-nft-quest.yml
Due: prettier --write --ignore-unknown

chore: edit workflows
  .github/workflows/deploy-auth-server.yml
  .github/workflows/deploy-preview.yml
Due: prettier --write --ignore-unknown

chore: add favicon for auth-server
  packages/gateway/nuxt.config.ts
  packages/gateway/public/favicon-96x96.png
  packages/gateway/public/favicon.ico
  packages/gateway/public/favicon.svg
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: remove svg from cspell
  cspell.json
Due: prettier --write --ignore-unknown

fix: remove hardcoded reference to in memory node in nft-quest
  packages/nft-quest/composables/useMintNft.ts
  packages/nft-quest/stores/connector.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: sdk ease of use improvements and some nft quest fixes (#150)
  packages/auth-server/components/views/confirmation/RequestSession.vue
  packages/nft-quest/components/TransferZeek.vue
  packages/nft-quest/composables/useMintNft.ts
  packages/nft-quest/pages/mint/index.vue
  packages/nft-quest/pages/mint/share.vue
  packages/nft-quest/stores/connector.ts
  packages/sdk/src/client-auth-server/interface.ts
  packages/sdk/src/utils/session.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: disable renovate for most things
  .gitignore
  renovate.json
Due: prettier --write --ignore-unknown

fix(auth): use env for default chain, fix main page login
  .github/workflows/deploy-auth-server.yml
  .github/workflows/deploy-preview.yml
  packages/auth-server/components/views/Login.vue
  packages/auth-server/components/zk/highlightWrapper.vue
  packages/auth-server/composables/useAccountCreate.ts
  packages/auth-server/composables/useAccountFetch.ts
  packages/auth-server/composables/useAccountLogin.ts
  packages/auth-server/composables/useAccountRegistration.ts
  packages/auth-server/composables/useAppColorMode.ts
  packages/auth-server/layouts/default.vue
  packages/auth-server/middleware/auth.ts
  packages/auth-server/middleware/loggedIn.ts
  packages/auth-server/middleware/loggedOut.ts
  packages/auth-server/nuxt.config.ts
  packages/auth-server/pages/dashboard.vue
  packages/auth-server/pages/index.vue
  packages/auth-server/pages/login.vue
  packages/auth-server/pages/register.vue
  packages/auth-server/stores/client.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore: remove old schema
  packages/auth-server/index.d.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: session creation
  packages/auth-server/composables/useAccountCreate.ts
  packages/auth-server/stores/client.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: e2e
  packages/auth-server/project.json
  packages/demo-app/tests/create-account.spec.ts
  packages/nft-quest/project.json
  packages/nft-quest/tests/main.spec.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix: e2e
  packages/auth-server/components/views/Login.vue
  packages/auth-server/pages/index.vue
  packages/demo-app/tests/create-account.spec.ts
  packages/nft-quest/tests/main.spec.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: undo remove auth server start
  package.json
  packages/nft-quest/project.json
  packages/sdk/package.json
  packages/sdk/src/client-auth-server/WalletProvider.ts
  packages/sdk/src/utils/passkey.ts
  pnpm-lock.yaml
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

Revert "fix: undo remove auth server start"
  package.json
  packages/nft-quest/project.json
  packages/sdk/package.json
  packages/sdk/src/client-auth-server/WalletProvider.ts
  packages/sdk/src/utils/passkey.ts
  pnpm-lock.yaml
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix: undo remove auth server start
  packages/nft-quest/project.json
Due: prettier --write --ignore-unknown

chore(nft-quest): fix preview image for nft (#153)
  packages/nft-quest/public/nft/zeek-nft.png
Due: none

feat: use beacon proxy to upgrade accounts
  packages/contracts/src/AAFactory.sol
  packages/contracts/src/AccountProxy.sol
  packages/contracts/src/test/Dummy.sol
  packages/contracts/test/SessionKeyTest.ts
  packages/contracts/test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: fmt
  packages/contracts/src/AAFactory.sol
  packages/contracts/src/test/Dummy.sol
  packages/contracts/test/SessionKeyTest.ts
  packages/contracts/test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: remove unnecessary arg
  packages/contracts/src/AAFactory.sol
  packages/contracts/test/BasicTest.ts
  packages/contracts/test/SessionKeyTest.ts
  packages/sdk/src/client/actions/account.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: update address
  packages/auth-server/stores/client.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: script
  packages/contracts/test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: update abi
  packages/sdk/src/abi/Factory.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: update address
  packages/auth-server/nuxt.config.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: remove sign in button
  packages/nft-quest/components/WalletButton.vue
Due: cspell lint --no-must-find-files --files, eslint --fix

fix: remove accountImplementation from sdk/frontend
  packages/auth-server/stores/client.ts
  packages/bank-demo/composables/useAppMeta.ts
  packages/bank-demo/index.d.ts
  packages/bank-demo/nuxt.config.ts
  packages/contracts/test/sdk/PasskeyClient.ts
  packages/sdk/src/client/actions/account.ts
  packages/sdk/src/client/clients/passkey.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: update sdk
  packages/contracts/package.json
  packages/contracts/test/utils.ts
  packages/demo-app/package.json
  packages/nft-quest-contracts/package.json
  packages/nft-quest/package.json
  pnpm-lock.yaml
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore(auth-server): change to spa build
  .gitignore
  firebase.json
  packages/auth-server/nuxt.config.ts
  packages/auth-server/stores/client.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown
