Repository sophon-org/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

.lintstagedrc.yml:

"*.{js,ts,vue,mjs,cjs}":
  - cspell lint --no-must-find-files --files
  - eslint --fix
"*.ts":
  - tsc-files --project ./tsconfig.base.json --noEmit
"*.md":
  - cspell lint --no-must-find-files --files
"*.{yml,yaml,json}":
  - prettier --write --ignore-unknown

fix(gateway): use latest sdk and some refactoring (#51)
  cspell-config/cspell-packages.txt
  cspell.json
  docs/sdk/client-gateway/README.md
  packages/gateway/components/AccountHeader.vue
  packages/gateway/components/views/Connect.vue
  packages/gateway/components/views/Login.vue
  packages/gateway/components/views/confirmation/Confirmation.vue
  packages/gateway/components/views/confirmation/RequestSession.vue
  packages/gateway/components/views/confirmation/Send.vue
  packages/gateway/composables/useTokenUtilities.ts
  packages/gateway/pages/confirm.vue
  packages/gateway/stores/account.ts
  packages/gateway/stores/client.ts
  packages/gateway/stores/requests.ts
  packages/gateway/utils/formatters.ts
  packages/sdk/src/client-gateway/Signer.ts
  packages/sdk/src/client-gateway/WalletProvider.ts
  packages/sdk/src/client-gateway/index.ts
  packages/sdk/src/client-gateway/interface.ts
  packages/sdk/src/client-gateway/message.ts
  packages/sdk/src/client-gateway/method.ts
  packages/sdk/src/client-gateway/rpc.ts
  packages/sdk/src/client/decorators/session_wallet.ts
  packages/sdk/src/communicator/PopupCommunicator.ts
  packages/sdk/src/communicator/index.ts
  packages/sdk/src/communicator/interface.ts
  packages/sdk/src/connector/index.ts
  packages/sdk/src/errors/index.ts
  packages/sdk/src/errors/utils.ts
  packages/sdk/src/index.ts
  packages/sdk/src/utils/provider.ts
  packages/sdk/src/utils/storage.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore: add fix lint command
  eslint.config.mjs
  package.json
Due: cspell lint --no-must-find-files --files, eslint --fix, prettier --write --ignore-unknown

Fix TS typechecks in tests
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/PasskeyModule.ts
  packages/contracts/test/sdk/PasskeyClient.ts
  packages/contracts/tsconfig.json
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

Add typechain
  .github/workflows/ci.yml
  packages/contracts/.gitignore
  packages/contracts/hardhat.config.ts
  packages/contracts/package-lock.json
  packages/contracts/package.json
  packages/contracts/test/PasskeyModule.ts
  packages/contracts/tsconfig.json
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix: Use zksolc 1.5.3 for contracts
  packages/contracts/hardhat.config.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

Remove .only
  packages/contracts/test/EndToEndSpendLimit.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

Typo
  packages/contracts/tsconfig.json
Due: prettier --write --ignore-unknown

fix: update signatures after merge
  packages/contracts/test/signed-challenge.json
  packages/contracts/test/signed-viem-challenge.json
Due: prettier --write --ignore-unknown

Update packages/sdk/src/utils/passkey.ts
  packages/sdk/src/utils/passkey.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

Fix CI
  .github/workflows/ci.yml
Due: prettier --write --ignore-unknown

docs(readme): add linting documentation
  README.md
Due: cspell lint --no-must-find-files --files

chore: add additional ignore config for cspell
  cspell.json
Due: prettier --write --ignore-unknown

chore: eslint fix in sdk package
  eslint.config.js
  nx.json
  packages/sdk/eslint.config.js
  packages/sdk/src/client/actions/account.ts
  packages/sdk/src/client/actions/index.ts
  packages/sdk/src/client/actions/passkey.ts
  packages/sdk/src/client/actions/session.ts
  packages/sdk/src/client/clients/common.ts
  packages/sdk/src/client/clients/passkey.ts
  packages/sdk/src/client/clients/session.ts
  packages/sdk/src/client/decorators/index.ts
  packages/sdk/src/client/decorators/passkey.ts
  packages/sdk/src/client/decorators/session.ts
  packages/sdk/src/client/index.ts
  packages/sdk/src/client/smart-account.ts
  packages/sdk/src/errors/constants.ts
  packages/sdk/src/errors/errors.ts
  packages/sdk/src/errors/serialize.ts
  packages/sdk/src/types/index.d.ts
  packages/sdk/src/utils/helpers.ts
  packages/sdk/src/utils/index.ts
  packages/sdk/src/utils/passkey.ts
  packages/sdk/src/version.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore: eslint fix in contracts package
  packages/contracts/hardhat.config.ts
  packages/contracts/scripts/getAccount.ts
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/PasskeyModule.ts
  packages/contracts/test/sdk/utils/passkey.ts
  packages/contracts/test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: create lint github workflow
  .github/workflows/lint.yml
  package.json
Due: prettier --write --ignore-unknown

chore: edit lint workflow
  .github/workflows/lint.yml
Due: prettier --write --ignore-unknown

chore: run prettier fix
  README.md
Due: cspell lint --no-must-find-files --files

fix: merge conflicts
  packages/contracts/hardhat.config.ts
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/PasskeyModule.ts
  packages/contracts/test/signed-challenge.json
  packages/contracts/test/signed-viem-challenge.json
  packages/contracts/test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix: update test signature after formatting
  packages/contracts/test/sdk/PasskeyClient.ts
  packages/contracts/test/signed-challenge.json
  packages/contracts/test/signed-viem-challenge.json
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix: use ecrecover within spendlimit module
  packages/contracts/package.json
  packages/contracts/src/AAFactory.sol
  packages/contracts/src/ClaveAccount.sol
  packages/contracts/src/interfaces/IClaveAccount.sol
  packages/contracts/src/managers/ModuleManager.sol
  packages/contracts/src/validators/SessionPasskeySpendLimitModule.sol
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/utils.ts
  pnpm-lock.yaml
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

feat: attempt to sign with session key
  packages/contracts/src/validators/SessionPasskeySpendLimitModule.sol
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/ethers-passkey.json
  packages/contracts/test/ethers-signed-challenge-standalone.json
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix: proper signing with private key
  packages/contracts/test/EndToEndSpendLimit.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: attempt to deploy new contract with viem
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/ethers-passkey.json
  packages/contracts/test/signed-challenge.json
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix: add session key signing to viem test
  packages/contracts/test/EndToEndSpendLimit.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: respond to pr feedback
  .github/workflows/ci.yml
  .vscode/settings.json
  cspell-config/cspell-misc.txt
  cspell-config/cspell-packages.txt
Due: prettier --write --ignore-unknown

fix lint
  .vscode/settings.json
Due: prettier --write --ignore-unknown

feat: save and validate passkey origins
  packages/contracts/src/AAFactory.sol
  packages/contracts/src/Account.sol
  packages/contracts/src/SpendLimit.sol
  packages/contracts/src/validators/WebAuthValidator.sol
  packages/contracts/test/EndToEndSpendLimit.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: add demo-app. fix metadata in gateway. add deploy command in contracts
  packages/contracts/package.json
  packages/demo-app/.gitignore
  packages/demo-app/README.md
  packages/demo-app/app.vue
  packages/demo-app/assets/css/style.scss
  packages/demo-app/assets/css/tailwind.css
  packages/demo-app/eslint.config.js
  packages/demo-app/nuxt.config.ts
  packages/demo-app/package.json
  packages/demo-app/pages/index.vue
  packages/demo-app/project.json
  packages/demo-app/public/favicon.ico
  packages/demo-app/server/tsconfig.json
  packages/demo-app/tailwind.config.js
  packages/demo-app/tsconfig.json
  packages/gateway/stores/client.ts
  packages/gateway/stores/requests.ts
  pnpm-lock.yaml
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore(ci): add firebase preview deploy
  .firebaserc
  .github/workflows/ci.yml
  .github/workflows/deploy-preview.yml
  firebase.json
Due: prettier --write --ignore-unknown

chore: add dependencies
  packages/demo-app/package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

chore: fix eslint errors
  eslint.config.js
  packages/demo-app/tailwind.config.js
  packages/gateway/composables/useAppMeta.ts
  packages/gateway/tailwind.config.js
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: adjust lintstagedrc for monorepo
  packages/demo-app/.lintstagedrc.js
Due: cspell lint --no-must-find-files --files, eslint --fix

chore: adjust lintstagedrc for monorepo
  .lintstagedrc.js
  .lintstagedrc.yml
  cspell-config/cspell-misc.txt
  packages/contracts/.lintstagedrc.js
  packages/contracts/package.json
  packages/gateway/.lintstagedrc.js
  packages/sdk/.lintstagedrc.js
Due: cspell lint --no-must-find-files --files, eslint --fix, prettier --write --ignore-unknown

chore: fix contracts build error
  packages/contracts/package.json
Due: prettier --write --ignore-unknown

chore: fix contracts build error
  packages/contracts/.lintstagedrc.mjs
Due: cspell lint --no-must-find-files --files, eslint --fix

fix: attempt to cleanup tests
  packages/contracts/src/validators/WebAuthValidator.sol
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/sdk/utils/passkey.ts
  packages/contracts/test/signed-challenge.json
  packages/contracts/test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown
