Repository sophon-org/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

.lintstagedrc.yml:

"*.{js,ts,vue,mjs,cjs}":
  - cspell lint --no-must-find-files --files
  - eslint --fix
"*.ts":
  - tsc-files --project ./tsconfig.base.json --noEmit
"*.md":
  - cspell lint --no-must-find-files --files
"*.{yml,yaml,json}":
  - prettier --write --ignore-unknown

chore: add back session to nft-quest and update navigation to reduce clicks
  .DS_Store
  cspell-config/cspell-misc.txt
  packages/.DS_Store
  packages/gateway/components/views/Login.vue
  packages/nft-quest/components/WalletButton.vue
  packages/nft-quest/pages/index.vue
  packages/nft-quest/stores/connector.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: pass hooks data
  packages/sdk/src/utils/passkey.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: serialize bigints in a message
  packages/contracts/src/validators/PasskeyValidator.sol
  packages/contracts/src/validators/WebAuthValidator.sol
  packages/gateway/stores/requests.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: add deploy:local command for nft-quest-contracts and remove deployments-zk artifacts
  packages/nft-quest-contracts/.gitignore
  packages/nft-quest-contracts/deployments-zk/inMemoryNode/.chainId
  packages/nft-quest-contracts/deployments-zk/inMemoryNode/contracts/NFTQuestPaymaster.sol/NFTQuestPaymaster.json
  packages/nft-quest-contracts/deployments-zk/inMemoryNode/contracts/ZeekNFTQuest.sol/ZeekNFTQuest.json
  packages/nft-quest-contracts/deployments-zk/zkSyncEraTestNode/.chainId
  packages/nft-quest-contracts/deployments-zk/zkSyncEraTestNode/contracts/NFTQuestPaymaster.sol/NFTQuestPaymaster.json
  packages/nft-quest-contracts/deployments-zk/zkSyncEraTestNode/contracts/ZeekNFTQuest.sol/ZeekNFTQuest.json
  packages/nft-quest-contracts/project.json
Due: prettier --write --ignore-unknown

chore: split e2e and contract tests
  .github/workflows/ci.yml
  packages/sdk/src/client/actions/account.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix: update addresses
  packages/contracts/src/managers/ValidatorManager.sol
  packages/gateway/stores/client.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: fix lints
  packages/gateway/components/views/Login.vue
  packages/gateway/components/views/confirmation/RequestSession.vue
  packages/gateway/stores/requests.ts
  packages/sdk/src/client/actions/session.ts
  packages/sdk/src/client/decorators/session.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: cspell fix
  packages/contracts/src/validators/SessionKeyValidator.sol
Due: none

fix: update address
  packages/gateway/stores/client.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: erc165 again
  packages/contracts/src/managers/ValidatorManager.sol
  packages/contracts/src/validators/PasskeyValidator.sol
  packages/contracts/src/validators/WebAuthValidator.sol
  packages/gateway/stores/client.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: move fetchAccount logic into the sdk
  packages/gateway/components/views/Login.vue
  packages/sdk/src/client/actions/account.ts
  packages/sdk/src/client/index.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: broken session after sign in
  packages/gateway/components/views/Login.vue
  packages/sdk/src/client/decorators/session_wallet.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: temporarily fix paymasters and add support for local node
  packages/gateway/components/views/Login.vue
  packages/gateway/stores/client.ts
  packages/nft-quest/composables/useMintNft.ts
  packages/sdk/src/client/decorators/session_wallet.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: review
  packages/contracts/src/interfaces/IValidatorManager.sol
  packages/contracts/src/managers/ValidatorManager.sol
  packages/gateway/components/views/confirmation/RequestSession.vue
  packages/gateway/stores/client.ts
  packages/sdk/src/client/actions/session.ts
  packages/sdk/src/client/decorators/session.ts
  packages/sdk/tsconfig.base.json
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

docs: update docs
  docs/sdk/client/README.md
  packages/sdk/src/client/actions/session.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: fmt
  docs/sdk/client/README.md
Due: cspell lint --no-must-find-files --files

feat: add comments and refactor getters a bit
  packages/contracts/src/validators/SessionKeyValidator.sol
  packages/contracts/test/SessionKeyTest.ts
  packages/gateway/stores/client.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: cleanup
  packages/nft-quest/app.vue
  packages/nft-quest/components/TransferZeek.vue
  packages/nft-quest/composables/useMintNft.ts
  packages/nft-quest/nuxt.config.ts
  packages/nft-quest/stores/connector.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: update content
  packages/nft-quest/pages/mint/index.vue
Due: cspell lint --no-must-find-files --files, eslint --fix

chore: fix e2e
  packages/demo-app/pages/index.vue
  packages/demo-app/tests/create-account.spec.ts
  packages/gateway/components/views/Login.vue
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: add e2e test for nft-quest
  packages/bank-demo/components/common/Spinner.vue
  packages/bank-demo/components/zk/ButtonIcon.vue
  packages/bank-demo/components/zk/Input.vue
  packages/gateway/components/common/Spinner.vue
  packages/gateway/components/zk/ButtonIcon.vue
  packages/gateway/components/zk/input.vue
  packages/nft-quest/components/zk/Spinner.vue
  packages/nft-quest/components/zk/input.vue
  packages/nft-quest/eslint.config.js
  packages/nft-quest/package.json
  packages/nft-quest/playwright.config.ts
  packages/nft-quest/project.json
  packages/nft-quest/tests/main.spec.ts
  pnpm-lock.yaml
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix: e2e test now works with new session configuration
  .github/workflows/ci.yml
  cspell-config/cspell-misc.txt
  packages/demo-app/project.json
  packages/gateway/components/views/Login.vue
  packages/gateway/stores/client.ts
  packages/nft-quest/README.md
  packages/nft-quest/composables/useMintNft.ts
  packages/nft-quest/pages/mint/index.vue
  packages/nft-quest/project.json
  packages/nft-quest/stores/connector.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

feat: store sessions offchain to reduce gas
  packages/contracts/src/validators/SessionKeyValidator.sol
  packages/contracts/test/SessionKeyTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: signer assertion and more events
  packages/contracts/src/validators/SessionKeyValidator.sol
Due: none

chore: update abi
  packages/sdk/src/abi/SessionKeyModule.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: remove max_constraints
  packages/contracts/src/validators/SessionKeyValidator.sol
Due: none

chore: fix e2e tests and add scenario for logging back into account in Auth Server
  packages/demo-app/pages/index.vue
  packages/demo-app/tests/create-account.spec.ts
  packages/gateway/components/AccountHeader.vue
  packages/nft-quest/tests/main.spec.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: undo accidental change for button icon component
  packages/gateway/components/zk/ButtonIcon.vue
Due: cspell lint --no-must-find-files --files, eslint --fix

fix: e2e tests
  .github/workflows/ci.yml
Due: prettier --write --ignore-unknown

chore: update paymaster variable to be immutable
  packages/nft-quest-contracts/contracts/NFTQuestPaymaster.sol
Due: none

chore: rename
  packages/contracts/src/validators/SessionKeyValidator.sol
Due: none

chore(nft-quest): edit copy on nft-quest pages
  packages/nft-quest/pages/mint/index.vue
  packages/nft-quest/pages/mint/share.vue
Due: cspell lint --no-must-find-files --files, eslint --fix

feat: update sdk and auth server to allow the use of paymaster for account and session creation
  docs/sdk/client/README.md
  packages/contracts/src/test/ExampleAuthServerPaymaster.sol
  packages/contracts/test/SessionKeyTest.ts
  packages/contracts/test/utils.ts
  packages/gateway/components/views/Login.vue
  packages/gateway/composables/useAccountRegistration.ts
  packages/gateway/index.d.ts
  packages/gateway/nuxt.config.ts
  packages/gateway/stores/client.ts
  packages/sdk/src/client/actions/account.ts
  packages/sdk/src/client/actions/session.ts
  packages/sdk/src/client/clients/passkey.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: update addresses for e2e tests
  packages/gateway/nuxt.config.ts
  packages/gateway/stores/client.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: sdk devex and gateway improvements (#123)
  docs/sdk/client-gateway/README.md
  docs/sdk/client/README.md
  packages/bank-demo/components/app/AddCryptoButton.vue
  packages/contracts/src/validators/SessionKeyValidator.sol
  packages/contracts/test/SessionKeyTest.ts
  packages/demo-app/nuxt.config.ts
  packages/demo-app/pages/index.vue
  packages/demo-app/public/favicon.ico
  packages/demo-app/tests/create-account.spec.ts
  packages/gateway/app.vue
  packages/gateway/components/AccountHeader.vue
  packages/gateway/components/common/button/Button.vue
  packages/gateway/components/common/line/Line.vue
  packages/gateway/components/icons/Clock.vue
  packages/gateway/components/icons/Fingerprint.vue
  packages/gateway/components/views/Login.vue
  packages/gateway/components/views/confirmation/RequestAccounts.vue
  packages/gateway/components/views/confirmation/RequestSession.vue
  packages/gateway/components/views/confirmation/Send.vue
  packages/gateway/composables/useAccountRegistration.ts
  packages/gateway/nuxt.config.ts
  packages/gateway/stores/account.ts
  packages/gateway/stores/client.ts
  packages/nft-quest/composables/useMintNft.ts
  packages/nft-quest/stores/connector.ts
  packages/sdk/src/abi/SessionKeyModule.ts
  packages/sdk/src/client-gateway/Signer.ts
  packages/sdk/src/client-gateway/WalletProvider.ts
  packages/sdk/src/client-gateway/interface.ts
  packages/sdk/src/client-gateway/rpc.ts
  packages/sdk/src/client/actions/passkey.ts
  packages/sdk/src/client/actions/session.ts
  packages/sdk/src/client/clients/session.ts
  packages/sdk/src/connector/index.ts
  packages/sdk/src/index.ts
  packages/sdk/src/utils/encoding.ts
  packages/sdk/src/utils/session.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore(nft-quest): improve deploy action
  .firebaserc
  firebase.json
  packages/bank-demo/README.md
  packages/bank-demo/project.json
  packages/nft-quest-contracts/deploy/deploy.ts
  packages/nft-quest/README.md
  packages/nft-quest/components/zk/ButtonIcon.vue
  packages/nft-quest/nuxt.config.ts
  packages/nft-quest/package.json
  packages/nft-quest/project.json
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore: pr feedback and fix e2e tests
  packages/contracts/src/test/ExampleAuthServerPaymaster.sol
  packages/contracts/test/SessionKeyTest.ts
  packages/contracts/test/utils.ts
  packages/demo-app/pages/index.vue
  packages/gateway/index.d.ts
  packages/gateway/nuxt.config.ts
  packages/sdk/src/client/actions/account.ts
  packages/sdk/src/client/clients/passkey.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: update paymaster address
  packages/nft-quest/nuxt.config.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: e2e tests
  packages/nft-quest/nuxt.config.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: e2e tests
  packages/gateway/components/views/Login.vue
  packages/gateway/composables/useAccountRegistration.ts
  packages/gateway/index.d.ts
  packages/gateway/nuxt.config.ts
  packages/gateway/stores/client.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit
