Repository sophon-org/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix: back to two mappings
  src/validators/WebAuthValidator.sol
  test/PasskeyModule.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: added oidc zk verifier (#297)
  cspell-config/cspell-sol.txt
  cspell.json
  scripts/deploy.ts
  src/autogenerated/ZkemailJwtVerifyVerifier.sol
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

OIDC/merge guardians branch (#301)
  scripts/deploy.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

Deploy OidcRecoveryValidator (#299)
  cspell-config/cspell-misc.txt
  scripts/deploy.ts
  src/test/ExampleAuthServerPaymaster.sol
  src/validators/OidcRecoveryValidator.sol
  test/SessionKeyTest.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: remove redeployed oidc validator (#302)
  scripts/deploy.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: added oidc to cspell dict
  cspell-config/cspell-misc.txt
Due: none

fix: remove separate signature parameter in validateTransaction (#307)
  src/SsoAccount.sol
  src/interfaces/IModuleValidator.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
  test/PasskeyModule.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: add pragma (#304)
  src/interfaces/IModule.sol
Due: none

fix: add init recovery to paymaster
  src/test/ExampleAuthServerPaymaster.sol
Due: none

fix: add as const to publish export
  scripts/publish.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: safe gasleft() conversion to uint32 (#305)
  src/batch/BatchCaller.sol
Due: none

chore: format comment (#306)
  src/libraries/SsoStorage.sol
Due: none

chore: rollback to aafactory from `passkey-by-id` branch
  src/AAFactory.sol
Due: none

chore: rollback to `passkey-by-id` branch implementation
  src/validators/WebAuthValidator.sol
Due: none

chore: wip guardian recovery
  src/validators/GuardianRecoveryValidator.sol
Due: none

chore: fix compilation
  src/interfaces/IGuardianRecoveryValidator.sol
  src/validators/GuardianRecoveryValidator.sol
Due: none

chore: fix deployment
  scripts/deploy.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: when adding modules, check that it is not installed as another type (#311)
  src/libraries/SsoStorage.sol
  src/managers/HookManager.sol
  src/managers/ValidatorManager.sol
Due: none

fix: get revert data in batch caller
  src/batch/BatchCaller.sol
  src/test/Dummy.sol
  test/BasicTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: adapt guardian validator to new specs
  src/interfaces/IGuardianRecoveryValidator.sol
  src/validators/GuardianRecoveryValidator.sol
Due: none

feat: use hashed origin domain
  src/interfaces/IGuardianRecoveryValidator.sol
  src/validators/GuardianRecoveryValidator.sol
Due: none

feat: keyed nonces support
  src/SsoAccount.sol
  src/libraries/Errors.sol
  src/validators/SessionKeyValidator.sol
Due: none

feat: make recoveries origin scoped (#317)
  scripts/deploy.ts
  src/validators/GuardianRecoveryValidator.sol
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: added method to get address from oidc_digest (#315)
  src/validators/OidcRecoveryValidator.sol
  test/OidcKeyRegistryTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: Add merkle tree computation to KeyRegistry (#314)
  cspell-config/cspell-misc.txt
  package.json
  pnpm-lock.yaml
  src/OidcKeyRegistry.sol
  test/OidcKeyRegistryTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

feat: make recoveries origin scoped
  src/validators/GuardianRecoveryValidator.sol
Due: none

chore: audit n02 extended (#308)
  src/SsoAccount.sol
  src/handlers/ERC1271Handler.sol
  src/interfaces/IOwnerManager.sol
  src/managers/OwnerManager.sol
  src/validators/WebAuthValidator.sol
  test/BasicTest.ts
  test/PasskeyModule.ts
  test/SessionKeyTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: remove standalone precompile test (#312)
  src/test/TestWebAuthValidator.sol
  src/validators/WebAuthValidator.sol
  test/PasskeyModule.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: add small improvements (#322)
  src/test/ExampleAuthServerPaymaster.sol
  src/validators/GuardianRecoveryValidator.sol
Due: none

fix: cant access immutable variables in tx validation steps (#321)
  scripts/deploy.ts
  src/validators/GuardianRecoveryValidator.sol
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: update r and s casting to 0 (#310)
  src/validators/WebAuthValidator.sol
Due: none

feat: make tests running
  test/GuardianRecoveryValidatorTest.ts
  test/SessionKeyTest.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: use a single id for account id (#309)
  src/AAFactory.sol
  test/BasicTest.ts
  test/HooksTest.ts
  test/PasskeyModule.ts
  test/SessionKeyTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: remove unnecessary constructor arg from deploy script
  scripts/deploy.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat(key registry): store keys as circom big int (#324)
  cspell-config/cspell-misc.txt
  hardhat.config.ts
  pnpm-lock.yaml
  scripts/upgrade.ts
  src/OidcKeyRegistry.sol
  src/validators/OidcRecoveryValidator.sol
  test/BasicTest.ts
  test/GuardianRecoveryValidatorTest.ts
  test/HooksTest.ts
  test/JSONParserLib.ts
  test/OidcKeyRegistryTest.ts
  test/PasskeyModule.ts
  test/SessionKeyTest.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

Store Credential id with passkey (#270)
  hardhat.config.ts
  package.json
  scripts/deploy.ts
  scripts/publish.ts
  src/validators/WebAuthValidator.sol
  test/PasskeyModule.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore: resolve merge issues
  test/GuardianRecoveryValidatorTest.ts
  test/PasskeyModule.ts
  test/SessionKeyTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

Path conditions:
  cspell lint --no-must-find-files --files: (any of: *.{js,ts,vue,mjs,cjs}) or (any of: *.md)
  eslint --fix: any of: *.{js,ts,vue,mjs,cjs}
  tsc-files --project ./tsconfig.base.json --noEmit: any of: *.ts
  prettier --write --ignore-unknown: any of: *.{yml,yaml,json}
