Repository sophon-org/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

.lintstagedrc.yml:

"*.{js,ts,vue,mjs,cjs}":
  - cspell lint --no-must-find-files --files
  - eslint --fix
"*.ts":
  - tsc-files --project ./tsconfig.base.json --noEmit
"*.md":
  - cspell lint --no-must-find-files --files
"*.{yml,yaml,json}":
  - prettier --write --ignore-unknown

Passkey Account Test (#254)
  test/PasskeyModule.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: allow approval based paymasters (#251)
  hardhat.config.ts
  src/libraries/SessionLib.sol
  src/test/TestPaymaster.sol
  src/validators/SessionKeyValidator.sol
  test/SessionKeyTest.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: add validateTransaction implementation to GuardianRecoveryValidatior
  package.json
  pnpm-lock.yaml
  src/validators/GuardianRecoveryValidator.sol
  test/GuardianRecoveryValidatorTest.ts
  test/PasskeyModule.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore: refactor tests
  test/GuardianRecoveryValidatorTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: clean up code
  src/validators/GuardianRecoveryValidator.sol
  test/GuardianRecoveryValidatorTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: improve init method
  src/validators/GuardianRecoveryValidator.sol
Due: none

docs: add nat-spec doc comments (#255)
  cspell-config/cspell-misc.txt
  src/SsoBeacon.sol
  src/helpers/TimestampAsserterLocator.sol
  src/helpers/TokenCallbackHandler.sol
  src/interfaces/IHook.sol
  src/interfaces/IModule.sol
  src/interfaces/IModuleValidator.sol
  src/interfaces/ITimestampAsserter.sol
  src/libraries/Errors.sol
  src/libraries/SessionLib.sol
  src/managers/ValidatorManager.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
  test/PasskeyModule.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: simplify initRecovery method
  scripts/deploy.ts
  src/validators/GuardianRecoveryValidator.sol
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: resolve build issues
  src/validators/GuardianRecoveryValidator.sol
Due: none

chore: resolve build issues
  src/interfaces/IGuardianRecoveryValidator.sol
Due: none

chore: resolve pr comments
  src/validators/GuardianRecoveryValidator.sol
Due: none

feat: restore guardiansFor method
  src/validators/GuardianRecoveryValidator.sol
Due: none

chore: remove unused access to accountGuardians
  src/validators/GuardianRecoveryValidator.sol
Due: none

feat: make guardian recovery validator contract proxy-able
  scripts/deploy.ts
  src/TransparentProxy.sol
  src/validators/GuardianRecoveryValidator.sol
  test/GuardianRecoveryValidatorTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: simplify initializer function name
  scripts/deploy.ts
  src/validators/GuardianRecoveryValidator.sol
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: add function to retrieve guarded accounts
  src/validators/GuardianRecoveryValidator.sol
Due: none

fix: improve recovery validator logic
  src/validators/GuardianRecoveryValidator.sol
Due: none

feat: update hook interface with tests
  src/helpers/Logger.sol
  src/interfaces/IHook.sol
  src/interfaces/IHookManager.sol
  src/libraries/Errors.sol
  src/managers/HookManager.sol
  src/test/SampleHooks.sol
  test/HookCoverage.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: merge conflict and test control
  src/test/SampleHooks.sol
  test/HookCoverage.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: allow paymaster calls to GuardianRecoveryValidator
  scripts/deploy.ts
  src/test/ExampleAuthServerPaymaster.sol
  src/validators/GuardianRecoveryValidator.sol
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: support multiple passkey per domain
  src/validators/WebAuthValidator.sol
  test/PasskeyModule.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: add more tests for multi-passkey signing
  src/validators/WebAuthValidator.sol
  test/PasskeyModule.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

test: hook tests (#260)
  src/interfaces/IHook.sol
  src/managers/HookManager.sol
  src/managers/OwnerManager.sol
  src/managers/ValidatorManager.sol
  src/test/TestExecutionHook.sol
  src/test/TestValidationHook.sol
  test/HooksTest.ts
  test/PasskeyModule.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: add SPDX to IModule.sol (#262)
  src/interfaces/IModule.sol
Due: none

feat: fix guardian recovery validator compilation
  src/validators/GuardianRecoveryValidator.sol
Due: none

fix: deployment
  scripts/deploy.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: move imports to different packages (#267)
  src/AAFactory.sol
  src/SsoAccount.sol
  src/test/ExampleAuthServerPaymaster.sol
  src/test/TestPaymaster.sol
Due: none

fix: address to account id is not empty when initiating recovery
  src/AAFactory.sol
Due: none
