Repository sophon-org/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix: address to account id is not empty when initiating recovery
  src/AAFactory.sol
Due: none

fix: remove double save on guardedAccounts
  src/validators/GuardianRecoveryValidator.sol
Due: none

Fixes of the early results from the second OZ audit (#269)
  src/SsoAccount.sol
  src/interfaces/IHookManager.sol
  src/interfaces/IOwnerManager.sol
  src/interfaces/ISsoAccount.sol
  src/libraries/SessionLib.sol
  src/libraries/SsoStorage.sol
  src/managers/HookManager.sol
  src/managers/OwnerManager.sol
  src/managers/ValidatorManager.sol
Due: none

feat: store and parse credential id from passkey
  hardhat.config.ts
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: compile error
  hardhat.config.ts
  package.json
  src/validators/WebAuthValidator.sol
  test/PasskeyModule.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix: provide credential id externally
  src/validators/WebAuthValidator.sol
  test/PasskeyModule.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: don't update hardhat
  package.json
Due: prettier --write --ignore-unknown

feat: Slither pipeline integration (#271)
  .github/workflows/slither.yml
  slither.config.json
  src/AAFactory.sol
  src/SsoAccount.sol
  src/managers/HookManager.sol
  src/managers/ValidatorManager.sol
Due: prettier --write --ignore-unknown

Add OidcKeyRegistry
  src/OidcKeyRegistry.sol
Due: none

Update deploy script
  scripts/deploy.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: add debugging statements to validation failures
  src/SsoAccount.sol
  src/validators/WebAuthValidator.sol
Due: none

feat: dedicated revoke passkey
  src/validators/WebAuthValidator.sol
  test/PasskeyModule.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: revert hardhat upgrade
  hardhat.config.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: create lookup to prevent accidential duplicate keys
  src/validators/WebAuthValidator.sol
Due: none

chore: upgrade zksolc
  hardhat.config.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: deploy script saves addresses to file
  scripts/deploy.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: audit L-03 (#275)
  src/SsoAccount.sol
  src/auth/Auth.sol
  src/managers/HookManager.sol
  src/managers/OwnerManager.sol
  src/managers/ValidatorManager.sol
Due: none

fix: audit L-07 (#276)
  src/auth/HookAuth.sol
  src/handlers/ERC1271Handler.sol
  src/interfaces/ISsoAccount.sol
  src/libraries/Errors.sol
  src/libraries/SignatureDecoder.sol
Due: none

fix: audit N-05 (#277)
  src/interfaces/ISsoAccount.sol
Due: none

fix: audit N-08 (#279)
  src/AAFactory.sol
  src/validators/SessionKeyValidator.sol
Due: none

fix: audit N-07 (#278)
  src/SsoAccount.sol
  src/libraries/SessionLib.sol
  src/managers/HookManager.sol
  src/managers/OwnerManager.sol
  src/managers/ValidatorManager.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: none

feat: add checks to prevent overwriting
  src/validators/WebAuthValidator.sol
  test/PasskeyModule.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: remove .only from passkey tests
  test/PasskeyModule.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: exec hooks behaviour when adding/removing (#281)
  src/managers/HookManager.sol
Due: none

chore: double check validate transaction arguments
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: none

chore: cast to uint256 before zero compare (#286)
  src/validators/WebAuthValidator.sol
Due: none

test: fix flaky passkey tests (#282)
  test/PasskeyModule.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: add missing functions from recovery validator to paymaster
  src/test/ExampleAuthServerPaymaster.sol
Due: none

feat: add guardian not self check
  src/validators/GuardianRecoveryValidator.sol
Due: none

docs: minor comment improvements (#290)
  src/AAFactory.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: none

chore: add more comments to webauthn verify (#285)
  src/test/TestWebAuthValidator.sol
  src/validators/WebAuthValidator.sol
  test/PasskeyModule.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: update authors on contracts (#288)
  src/interfaces/IHook.sol
  src/managers/HookManager.sol
Due: none

fix: rename error variable (#292)
  src/SsoAccount.sol
  src/handlers/ERC1271Handler.sol
Due: none

chore: make comments more exact when referring to internal data (#287)
  src/AAFactory.sol
  src/interfaces/IOwnerManager.sol
  src/managers/HookManager.sol
  src/managers/OwnerManager.sol
Due: none

Fix/paymaster-recovery-validator (#291)
  src/test/ExampleAuthServerPaymaster.sol
  src/validators/GuardianRecoveryValidator.sol
Due: none

feat: empty GuardianRecoveryValidator
  src/interfaces/IGuardianRecoveryValidator.sol
  src/validators/GuardianRecoveryValidator.sol
Due: none

feat: methods to add a guardian
  scripts/deploy.ts
  src/interfaces/IGuardianRecoveryValidator.sol
  src/validators/GuardianRecoveryValidator.sol
  test/GuardianRecoveryValidatorTest.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: uint to uint256
  src/validators/GuardianRecoveryValidator.sol
Due: none

fix: reverting when guardian not found
  src/validators/GuardianRecoveryValidator.sol
Due: none

feat: add validateTransaction implementation to GuardianRecoveryValidatior
  package.json
  pnpm-lock.yaml
  src/validators/GuardianRecoveryValidator.sol
  test/GuardianRecoveryValidatorTest.ts
  test/PasskeyModule.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

Path conditions:
  cspell lint --no-must-find-files --files: (any of: *.{js,ts,vue,mjs,cjs}) or (any of: *.md)
  eslint --fix: any of: *.{js,ts,vue,mjs,cjs}
  tsc-files --project ./tsconfig.base.json --noEmit: any of: *.ts
  prettier --write --ignore-unknown: any of: *.{yml,yaml,json}
