Repository sophon-org/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix: undo sdk package json changes
  packages/contracts/package.json
  packages/sdk/.gitignore
  packages/sdk/package.json
  packages/sdk/src/package.json
  packages/sdk/src/project.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

fix: build sdk before building gateway preview
  .github/workflows/deploy-preview.yml
Due: prettier --write --ignore-unknown

Some tests
  packages/contracts/src/AAFactory.sol
  packages/contracts/src/ClaveAccount.sol
  packages/contracts/src/interfaces/IClaveAccount.sol
  packages/contracts/test/BasicTest.ts
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/PasskeyModule.ts
  packages/contracts/test/sdk/utils/passkey.ts
  packages/contracts/test/utils.ts
  packages/contracts/tsconfig.json
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore: nx command edits
  .github/workflows/ci.yml
  .lintstagedrc.js
  packages/contracts/package.json
  packages/contracts/project.json
  packages/demo-app/package.json
  packages/demo-app/project.json
  packages/gateway/project.json
  packages/sdk/project.json
Due: cspell lint --no-must-find-files --files, eslint --fix, prettier --write --ignore-unknown

docs: update readme
  README.md
  docs/nx-cheatsheet.md
  package.json
  project.json
Due: cspell lint --no-must-find-files --files, prettier --write --ignore-unknown

chore: fixup prettier
  .lintstagedrc.js
  .prettierignore
  README.md
  package.json
Due: cspell lint --no-must-find-files --files, eslint --fix, prettier --write --ignore-unknown

Basic test fmt
  .husky/pre-commit
  packages/contracts/test/BasicTest.ts
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/utils.ts
  packages/sdk/src/utils/passkey.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: format and lint
  packages/contracts/test/BasicTest.ts
  packages/contracts/test/EndToEndSpendLimit.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: fix sdk targets
  packages/sdk/project.json
Due: prettier --write --ignore-unknown

fix: tests cleanup and reuse sdk
  docs/sdk/client/README.md
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/gateway/components/views/Login.vue
  packages/sdk/src/abi/Factory.ts
  packages/sdk/src/abi/SessionPasskeySpendLimitModule.ts
  packages/sdk/src/client/actions/account.ts
  packages/sdk/src/client/actions/session.ts
  packages/sdk/src/client/decorators/passkey.ts
  packages/sdk/src/client/decorators/session.ts
  packages/sdk/src/client/utils/getEip712Domain.ts
  packages/sdk/src/utils/encoding.ts
  packages/sdk/src/utils/index.ts
  packages/sdk/src/utils/passkey.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: gateway
  docs/sdk/client/README.md
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/sdk/PasskeyClient.ts
  packages/gateway/components/views/Login.vue
  packages/gateway/components/views/confirmation/RequestSession.vue
  packages/gateway/package.json
  packages/gateway/stores/client.ts
  packages/gateway/utils/communicator.ts
  packages/sdk/src/client/actions/account.ts
  packages/sdk/src/client/clients/passkey.ts
  packages/sdk/src/utils/passkey.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix: undo workspaces change
  pnpm-workspace.yaml
Due: prettier --write --ignore-unknown

feat: add modular validator to 4337 entry-point
  packages/contracts/src/ERC7579Account.sol
  packages/contracts/src/managers/ValidatorManager.sol
Due: none

fix: linting
  packages/contracts/src/ERC7579Account.sol
Due: none

fix: deploy with session key as owner
  packages/contracts/src/ClaveAccount.sol
  packages/contracts/test/BasicTest.ts
  packages/contracts/test/EndToEndSpendLimit.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: add e2e test to demo-app, fix gateway rendering issue and default contract addresses
  .gitignore
  cspell-config/cspell-misc.txt
  cspell.json
  packages/demo-app/package.json
  packages/demo-app/pages/index.vue
  packages/demo-app/playwright.config.ts
  packages/demo-app/tests/create-account.spec.ts
  packages/gateway/components/views/Login.vue
  packages/gateway/stores/client.ts
  pnpm-lock.yaml
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore: simplify e2e test to start demo-app and gateway
  packages/demo-app/playwright.config.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: add e2e tests to CI
  .github/workflows/ci.yml
Due: prettier --write --ignore-unknown

chore: debug ci failure
  packages/demo-app/tests/create-account.spec.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: update README, add e2e debug command, address test flakiness
  README.md
  packages/demo-app/eslint.config.js
  packages/demo-app/package.json
  packages/demo-app/playwright.config.ts
  packages/demo-app/tests/create-account.spec.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore: fix ci
  packages/demo-app/playwright.config.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: move server validation logic in e2e tests
  packages/demo-app/playwright.config.ts
  packages/demo-app/tests/create-account.spec.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: wait for servers to be ready in e2e tests
  packages/demo-app/tests/create-account.spec.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: remove breaking tests
  packages/contracts/test/EndToEndSpendLimit.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

test: transfer and multicall tests work
  packages/contracts/src/ClaveAccount.sol
  packages/contracts/test/BasicTest.ts
  packages/contracts/test/EndToEndSpendLimit.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: skip tests
  packages/contracts/eslint.config.cjs
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/demo-app/package.json
  packages/demo-app/project.json
  packages/gateway/stores/client.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore: edit eslintconfig
  eslint.config.js
Due: cspell lint --no-must-find-files --files, eslint --fix

chore: fix e2e
  packages/gateway/stores/client.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: e2e test
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/demo-app/playwright.config.ts
  packages/gateway/stores/client.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: tests cleanup and reuse sdk
  packages/sdk/src/client/actions/account.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: gateway
  packages/sdk/src/client/actions/account.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

Path conditions:
  cspell lint --no-must-find-files --files: (any of: *.{js,ts,vue,mjs,cjs}) or (any of: *.md)
  eslint --fix: any of: *.{js,ts,vue,mjs,cjs}
  tsc-files --project ./tsconfig.base.json --noEmit: any of: *.ts
  prettier --write --ignore-unknown: any of: *.{yml,yaml,json}
