Repository sophon-org/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

.lintstagedrc.yml:

"*.{js,ts,vue,mjs,cjs}":
  - cspell lint --no-must-find-files --files
  - eslint --fix
"*.ts":
  - tsc-files --project ./tsconfig.base.json --noEmit
"*.md":
  - cspell lint --no-must-find-files --files
"*.{yml,yaml,json}":
  - prettier --write --ignore-unknown

Refactor tests
  packages/contracts/package-lock.json
  packages/contracts/test/EndToEndSpendLimit.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

Update lockfile
  packages/contracts/package-lock.json
Due: prettier --write --ignore-unknown

Fixes for public key
  packages/contracts/src/test/P256VerifierExpensive.sol
  packages/contracts/src/validators/PasskeyValidator.sol
  packages/contracts/src/validators/SessionPasskeySpendLimitModule.sol
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/ErrorChecker.sol
  packages/contracts/test/PasskeyModule.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

Attempt to grant factory install permission
  packages/contracts/src/AAFactory.sol
  packages/contracts/src/ERC7579Account.sol
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/PasskeyModule.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

Update e2e test to start gateway
  .github/workflows/ci.yml
  packages/contracts/test/EndToEndSpendLimit.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix ci node setup
  .github/workflows/ci.yml
Due: prettier --write --ignore-unknown

Add cache-dependency-path to all lock files
  .github/workflows/ci.yml
Due: prettier --write --ignore-unknown

Add contract compile to ci workflow
  .github/workflows/ci.yml
Due: prettier --write --ignore-unknown

Move 7579 account to impl contract
  packages/contracts/package-lock.json
  packages/contracts/package.json
  packages/contracts/scripts/deployAccountFactory.ts
  packages/contracts/src/AAFactory.sol
  packages/contracts/src/AccountProxy.sol
  packages/contracts/src/ClaveAccount.sol
  packages/contracts/src/ERC7579Account.sol
  packages/contracts/src/interfaces/IClaveAccount.sol
  packages/contracts/src/managers/ModuleManager.sol
  packages/contracts/src/managers/OwnerManager.sol
  packages/contracts/test/AccountAbstraction.ts
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/PasskeyModule.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

Fix factory and add native module support
  packages/contracts/src/AAFactory.sol
  packages/contracts/src/managers/ModuleManager.sol
  packages/contracts/src/validators/SessionPasskeySpendLimitModule.sol
  packages/contracts/test/EndToEndSpendLimit.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: custom stuff
  .DS_Store
  package-lock.json
  package.json
  packages/gateway/composables/useObservable.ts
  packages/gateway/nuxt.config.ts
  packages/gateway/stores/account.ts
  packages/gateway/stores/client.ts
  packages/sdk/package.json
  packages/sdk/src/client-gateway/WalletProvider.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

feat: add cjs for sdk
  packages/contracts/test/AccountAbstraction.ts
  packages/sdk/package.json
  packages/sdk/tsconfig.build.cjs.json
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix: undo contracts
  packages/contracts/test/AccountAbstraction.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

Using ethers to print the transaction hash
  packages/contracts/package-lock.json
  packages/contracts/package.json
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/sdk/package.json
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

Update CI e2e test GitHub action
  .github/workflows/ci.yml
Due: prettier --write --ignore-unknown

Update tests with expected default contract addresses
  packages/contracts/test/AccountAbstraction.ts
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

Decoding a sample signature fails
  packages/contracts/src/ClaveAccount.sol
  packages/contracts/src/handlers/ValidationHandler.sol
  packages/contracts/test/EndToEndSpendLimit.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: deploy account from factory, sdk client structure reworked a bit
  packages/sdk/package-lock.json
  packages/sdk/package.json
  packages/sdk/src/abi/Factory.ts
  packages/sdk/src/client/actions/account.ts
  packages/sdk/src/client/actions/index.ts
  packages/sdk/src/client/createWalletClient.ts
  packages/sdk/src/client/decorators/index.ts
  packages/sdk/src/client/index.ts
  packages/sdk/src/utils/passkey.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

Perform the transaction signing client side
  packages/contracts/src/ClaveAccount.sol
  packages/contracts/src/handlers/ValidationHandler.sol
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/PasskeyModule.ts
  packages/contracts/test/signed-challenge.json
  packages/contracts/test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

feat: passkey client and improved structure
  packages/sdk/src/client-gateway/Signer.ts
  packages/sdk/src/client-gateway/message.ts
  packages/sdk/src/client/actions/account.ts
  packages/sdk/src/client/actions/index.ts
  packages/sdk/src/client/actions/passkey.ts
  packages/sdk/src/client/actions/session.ts
  packages/sdk/src/client/clients/common.ts
  packages/sdk/src/client/clients/passkey.ts
  packages/sdk/src/client/clients/session.ts
  packages/sdk/src/client/createWalletClient.ts
  packages/sdk/src/client/decorators/index.ts
  packages/sdk/src/client/decorators/session.ts
  packages/sdk/src/client/decorators/session_wallet.ts
  packages/sdk/src/client/index.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

Update with new test data
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/signed-challenge.json
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

Passing the hashes directly validates
  packages/contracts/src/ClaveAccount.sol
  packages/contracts/src/handlers/ValidationHandler.sol
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/PasskeyModule.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

Add new webauthn parsing
  packages/contracts/src/ClaveAccount.sol
  packages/contracts/src/handlers/ValidationHandler.sol
  packages/contracts/src/helpers/Base64.sol
  packages/contracts/src/interfaces/IValidator.sol
  packages/contracts/src/libraries/JsmnSolLib.sol
  packages/contracts/src/test/PasskeyValidatorTest.sol
  packages/contracts/src/validators/PasskeyValidator.sol
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/PasskeyModule.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: remove ds store
  .DS_Store
  packages/gateway/stores/client.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: undo package json changes
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Correctly load challenge for compare
  packages/contracts/src/validators/PasskeyValidator.sol
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

Working signing test
  packages/contracts/src/validators/PasskeyValidator.sol
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/signed-challenge.json
  packages/contracts/test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

Add contract addresses logs
  packages/contracts/test/EndToEndSpendLimit.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

Clean up tests some more
  packages/contracts/test/AccountAbstraction.ts
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

address PR feedback
  .github/workflows/ci.yml
  packages/contracts/src/test/P256VerifierExpensive.sol
  packages/contracts/test/PasskeyModule.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

Update ports used in CI flow for gateway
  .github/workflows/ci.yml
Due: prettier --write --ignore-unknown

chore: update readme
  README.md
Due: cspell lint --no-must-find-files --files

chore: update renovate configuration
  renovate.json
Due: prettier --write --ignore-unknown

chore: edit renovate config
  renovate.json
Due: prettier --write --ignore-unknown

chore: add eslint to root project
  .editorconfig
  .vscode/extensions.json
  .vscode/settings.json
  eslint.config.mjs
  package-lock.json
  package.json
  packages/gateway/nuxt.config.ts
  packages/gateway/package-lock.json
  packages/gateway/package.json
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore: update indent spacing for eslint
  .editorconfig
  eslint.config.mjs
  packages/gateway/nuxt.config.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: add prettier for everything else
  .prettierignore
  .prettierrc.json
Due: prettier --write --ignore-unknown

chore: edit prettierignore
  .prettierignore
Due: none

fix: spelling error
  .prettierignore
Due: none

chore: revert back to 2 spaces
  .editorconfig
  .prettierrc.json
  eslint.config.mjs
  packages/gateway/nuxt.config.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown
