Repository sophon-org/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore: use EnumerableSet to protect against OOG; emit additional events
  src/validators/GuardianRecoveryValidator.sol
  test/GuardianRecoveryValidatorTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: index all args of Guardian related events
  src/validators/GuardianRecoveryValidator.sol
Due: none

chore: revert changes in SessionKeyTest file
  test/SessionKeyTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: revert if enumerableSet returns false on guardian operation
  src/validators/GuardianRecoveryValidator.sol
Due: none

feat: use enumerable set for storing account guardians (#327)
  src/validators/GuardianRecoveryValidator.sol
Due: none

fix: interface change
  src/SsoAccount.sol
Due: none

OIDC/integrate verifier with validator (#325)
  scripts/deploy.ts
  src/OidcKeyRegistry.sol
  src/autogenerated/JwtTxValidationVerifier.sol
  src/autogenerated/ZkemailJwtVerifyVerifier.sol
  src/validators/OidcRecoveryValidator.sol
  test/OidcKeyRegistryTest.ts
  test/OidcRecoveryValidatorTest.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

OIDC/merge guardians branch again (#329)
  hardhat.config.ts
  package.json
  scripts/deploy.ts
  scripts/publish.ts
  slither.config.json
  src/AAFactory.sol
  src/SsoAccount.sol
  src/auth/Auth.sol
  src/auth/HookAuth.sol
  src/autogenerated/JwtTxValidationVerifier.sol
  src/batch/BatchCaller.sol
  src/handlers/ERC1271Handler.sol
  src/helpers/TimestampAsserterLocator.sol
  src/helpers/Utils.sol
  src/interfaces/IGuardianRecoveryValidator.sol
  src/interfaces/IHook.sol
  src/interfaces/IModule.sol
  src/interfaces/IModuleValidator.sol
  src/interfaces/IOwnerManager.sol
  src/interfaces/ISsoAccount.sol
  src/libraries/Errors.sol
  src/libraries/SessionLib.sol
  src/libraries/SignatureDecoder.sol
  src/libraries/SsoStorage.sol
  src/managers/HookManager.sol
  src/managers/OwnerManager.sol
  src/managers/ValidatorManager.sol
  src/test/ExampleAuthServerPaymaster.sol
  src/validators/GuardianRecoveryValidator.sol
  src/validators/OidcRecoveryValidator.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
  test/BasicTest.ts
  test/GuardianRecoveryValidatorTest.ts
  test/HooksTest.ts
  test/PasskeyModule.ts
  test/SessionKeyTest.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

feat: add startRecovery (#331)
  src/autogenerated/JwtTxValidationVerifier.sol
  src/validators/OidcRecoveryValidator.sol
  test/OidcKeyRegistryTest.ts
  test/OidcRecoveryValidatorTest.ts
  test/SessionKeyTest.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: register new oidc digest takes only the digest (#334)
  src/autogenerated/JwtTxValidationVerifier.sol
  src/validators/OidcRecoveryValidator.sol
  test/OidcRecoveryValidatorTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: remove merkle tree from key registry (#335)
  src/OidcKeyRegistry.sol
  test/OidcKeyRegistryTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: improve OIDC validator (#348)
  src/OidcKeyRegistry.sol
  src/validators/OidcRecoveryValidator.sol
  test/OidcRecoveryValidatorTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: added verifier for test (#363)
  src/autogenerated/JwtTxValidationVerifierTest.sol
Due: none

feat: return a single oidc data instead of array (#364)
  src/autogenerated/JwtTxValidationVerifier.sol
  src/validators/OidcRecoveryValidator.sol
  test/OidcRecoveryValidatorTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: minor audit fixes (#368)
  src/SsoAccount.sol
  src/libraries/SsoStorage.sol
  src/managers/HookManager.sol
  src/managers/ValidatorManager.sol
  src/validators/WebAuthValidator.sol
Due: none

feat: add deleteValidationKey (#374)
  src/validators/OidcRecoveryValidator.sol
Due: none

OIDC/key registry improvements (#337)
  scripts/deploy.ts
  src/OidcKeyRegistry.sol
  test/OidcKeyRegistryTest.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: constructor should disable initializer (#373)
  scripts/deploy.ts
  src/test/ExampleAuthServerPaymaster.sol
  src/validators/OidcRecoveryValidator.sol
  test/OidcRecoveryValidatorTest.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: update deleteValidationKey (#376)
  src/validators/OidcRecoveryValidator.sol
  test/OidcRecoveryValidatorTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

test: add simple setup for viem signers
  test/BasicTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: OidcKeyRegistry contract misc improvements (#382)
  src/OidcKeyRegistry.sol
  test/OidcKeyRegistryTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: add logging to contracts
  src/SsoAccount.sol
  src/helpers/Logger.sol
Due: none

fix: logging bytes via custom logger
  src/helpers/Logger.sol
Due: none

chore: remove only add more logs
  src/SsoAccount.sol
  test/BasicTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: save addedOn for oidc accounts (#381)
  src/validators/OidcRecoveryValidator.sol
Due: none

OIDC/check timestsampt for recovery OIDC (#384)
  src/autogenerated/JwtTxValidationVerifier.sol
  src/validators/OidcRecoveryValidator.sol
Due: none

feat: replace errors with reverts
  src/AAFactory.sol
  src/SsoAccount.sol
  src/auth/BootloaderAuth.sol
  src/auth/SelfAuth.sol
  src/batch/BatchCaller.sol
  src/helpers/TimestampAsserterLocator.sol
  src/helpers/Utils.sol
  src/libraries/SessionLib.sol
  src/managers/HookManager.sol
Due: none

feat: OidcValidator add custom errors (#383)
  src/validators/OidcRecoveryValidator.sol
  test/OidcKeyRegistryTest.ts
  test/OidcRecoveryValidatorTest.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: tiny changes in oidc validator (#387)
  src/validators/OidcRecoveryValidator.sol
Due: none

feat: little refinements in oidc validator (#388)
  src/validators/OidcRecoveryValidator.sol
Due: none

feat: using stored iss to calculate iss hash (#389)
  src/validators/OidcRecoveryValidator.sol
Due: none

feat: moved timelimit inside proof data (#390)
  src/validators/OidcRecoveryValidator.sol
Due: none

feat: remove SsoMessage
  src/handlers/ERC1271Handler.sol
Due: none

WebAuthN Audit Changes (#333)
  src/helpers/VerifierCaller.sol
  src/libraries/Errors.sol
  src/validators/WebAuthValidator.sol
  test/PasskeyModule.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

OIDC/internal audit corrections (#393)
  src/validators/OidcRecoveryValidator.sol
Due: none

Assorted audit request changes (#369)
  src/SsoAccount.sol
  src/libraries/SsoStorage.sol
  src/managers/HookManager.sol
  src/managers/ValidatorManager.sol
  src/validators/WebAuthValidator.sol
Due: none

chore: update comment to remove closing paren (#370)
  src/SsoAccount.sol
Due: none

feat: add deploy with default modules (#371)
  src/AAFactory.sol
  src/SsoAccount.sol
  src/libraries/Errors.sol
  test/BasicTest.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

docs: add warning to adding hooks (#372)
  src/interfaces/IHookManager.sol
Due: none

fix: deploy script factory args
  scripts/deploy.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

Path conditions:
  cspell lint --no-must-find-files --files: (any of: *.{js,ts,vue,mjs,cjs}) or (any of: *.md)
  eslint --fix: any of: *.{js,ts,vue,mjs,cjs}
  tsc-files --project ./tsconfig.base.json --noEmit: any of: *.ts
  prettier --write --ignore-unknown: any of: *.{yml,yaml,json}
