Repository sophon-org/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

.lintstagedrc.yml:

"*.{js,ts,vue,mjs,cjs}":
  - cspell lint --no-must-find-files --files
  - eslint --fix
"*.ts":
  - tsc-files --project ./tsconfig.base.json --noEmit
"*.md":
  - cspell lint --no-must-find-files --files
"*.{yml,yaml,json}":
  - prettier --write --ignore-unknown

chore: add loading input
  packages/gateway/components/zk/input.vue
Due: cspell lint --no-must-find-files --files, eslint --fix

chore: use bob ross ipsum to pass spelling
  packages/gateway/pages/kitchen-sink/index.vue
Due: cspell lint --no-must-find-files --files, eslint --fix

chore: fix tests
  packages/gateway/components/views/Login.vue
Due: cspell lint --no-must-find-files --files, eslint --fix

chore: make demo values dynamic
  packages/bank-demo/components/app/OnRampCrypto.vue
  packages/bank-demo/composables/useHistory.ts
  packages/bank-demo/pages/checkout.vue
  packages/bank-demo/pages/crypto-account.vue
  packages/bank-demo/pages/index.vue
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: fix multiple stakes and update README
  packages/bank-demo/README.md
  packages/bank-demo/composables/useHistory.ts
  packages/bank-demo/pages/checkout.vue
  packages/bank-demo/pages/crypto-account.vue
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: cleanup
  packages/demo-app/tests/create-account.spec.ts
  packages/gateway/assets/css/style.scss
  packages/gateway/package.json
  packages/gateway/pages/dashboard.vue
  packages/gateway/pages/index.vue
  pnpm-lock.yaml
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore: add explorer links and update favicon
  packages/bank-demo/components/app/AddCryptoButton.vue
  packages/bank-demo/composables/useAppMeta.ts
  packages/bank-demo/composables/useHistory.ts
  packages/bank-demo/index.d.ts
  packages/bank-demo/nuxt.config.ts
  packages/bank-demo/pages/checkout.vue
  packages/bank-demo/pages/crypto-account.vue
  packages/bank-demo/public/favicon.ico
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: fix tests
  packages/demo-app/tests/create-account.spec.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: wip
  packages/gateway/components/kitchen-sink/inputs-example.vue
  packages/gateway/composables/useAccountFetch.ts
  packages/gateway/composables/useAccountLogin.ts
  packages/gateway/composables/useAccountRegistration.ts
  packages/gateway/middleware/auth.ts
  packages/gateway/middleware/loggedIn.ts
  packages/gateway/pages/dashboard.vue
  packages/gateway/pages/index.vue
  packages/gateway/pages/login.vue
  packages/gateway/pages/register.vue
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: remove unecessary changes
  packages/bank-demo/pages/crypto-account.vue
  packages/contracts/test/sdk/PasskeyClient.ts
  packages/sdk/src/client/clients/passkey.ts
  packages/sdk/src/utils/passkey.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: fix mobile layout and remove unused page
  packages/bank-demo/components/app/OnRampCrypto.vue
  packages/bank-demo/components/layout/Header.vue
  packages/bank-demo/components/token/eth.vue
  packages/bank-demo/components/zk/ButtonIcon.vue
  packages/bank-demo/components/zk/Dialog.vue
  packages/bank-demo/components/zk/IconThumbnail.vue
  packages/bank-demo/components/zk/Tabs.vue
  packages/bank-demo/layouts/default.vue
  packages/bank-demo/pages/cards.vue
  packages/bank-demo/pages/checkout.vue
  packages/bank-demo/pages/crypto-account.vue
  packages/bank-demo/pages/index.vue
  packages/bank-demo/pages/transaction-complete.vue
Due: cspell lint --no-must-find-files --files, eslint --fix

chore: fix
  packages/gateway/components/kitchen-sink/inputs-example.vue
Due: cspell lint --no-must-find-files --files, eslint --fix

feat: store number of constraints
  packages/contracts/src/validators/SessionKeyValidator.sol
Due: none

fix: update ip address of demo node
  packages/bank-demo/nuxt.config.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore(nft-quest): update copy
  packages/nft-quest/components/TransferZeek.vue
  packages/nft-quest/pages/mint/share.vue
Due: cspell lint --no-must-find-files --files, eslint --fix

feat(nft-quest-contracts): create new nft-quest-contracts project
  cspell-config/cspell-zksync.txt
  packages/gateway/components/AccountHeader.vue
  packages/gateway/components/app/nav.vue
  packages/gateway/components/common/input/Input.vue
  packages/gateway/components/views/Login.vue
  packages/gateway/components/views/confirmation/RequestAccounts.vue
  packages/gateway/components/views/confirmation/RequestSession.vue
  packages/gateway/components/views/confirmation/Send.vue
  packages/gateway/components/zk/ButtonIcon.vue
  packages/gateway/components/zk/input.vue
  packages/gateway/components/zk/link.vue
  packages/gateway/components/zk/switch.vue
  packages/gateway/composables/useAccountRegistration.ts
  packages/nft-quest-contracts/.env.example
  packages/nft-quest-contracts/.gitignore
  packages/nft-quest-contracts/.npmrc
  packages/nft-quest-contracts/LICENSE
  packages/nft-quest-contracts/README.md
  packages/nft-quest-contracts/contracts/Greeter.sol
  packages/nft-quest-contracts/contracts/erc20/MyERC20Token.sol
  packages/nft-quest-contracts/contracts/nft/MyNFT.sol
  packages/nft-quest-contracts/contracts/paymasters/ApprovalPaymaster.sol
  packages/nft-quest-contracts/contracts/paymasters/GeneralPaymaster.sol
  packages/nft-quest-contracts/deploy/deploy.ts
  packages/nft-quest-contracts/deploy/erc20/deploy.ts
  packages/nft-quest-contracts/deploy/interact.ts
  packages/nft-quest-contracts/deploy/nft/deploy.ts
  packages/nft-quest-contracts/deploy/utils.ts
  packages/nft-quest-contracts/hardhat.config.ts
  packages/nft-quest-contracts/package.json
  packages/nft-quest-contracts/test/erc20/myerc20token.test.ts
  packages/nft-quest-contracts/test/greeter.test.ts
  packages/nft-quest-contracts/test/nft/mynft.test.ts
  packages/nft-quest-contracts/tsconfig.json
  packages/nft-quest/project.json
  pnpm-lock.yaml
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

feat: make tests work using local node
  packages/contracts/test/SessionKeyTest.ts
  packages/contracts/test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: use wagmi directly
  packages/nft-quest/app.vue
  packages/nft-quest/composables/useConfig.ts
  packages/nft-quest/composables/useWalletConnector.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

test: revoke key and getters
  packages/contracts/src/validators/SessionKeyValidator.sol
  packages/contracts/test/SessionKeyTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: wip
  .DS_Store
  packages/nft-quest-contracts/deploy/deploy.ts
  packages/nft-quest-contracts/deployments-zk/inMemoryNode/.chainId
  packages/nft-quest-contracts/deployments-zk/inMemoryNode/contracts/NFTQuestPaymaster.sol/NFTQuestPaymaster.json
  packages/nft-quest-contracts/deployments-zk/inMemoryNode/contracts/ZeekNFTQuest.sol/ZeekNFTQuest.json
  packages/nft-quest-contracts/project.json
  packages/nft-quest/composables/useConfig.ts
  packages/nft-quest/composables/useWalletConnector.ts
  packages/nft-quest/index.d.ts
  packages/nft-quest/middleware/requireLogin.ts
  packages/nft-quest/nuxt.config.ts
  packages/nft-quest/pages/index.vue
  packages/nft-quest/pages/mint/index.vue
  packages/nft-quest/tailwind.config.js
  pnpm-lock.yaml
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore: wip
  packages/nft-quest/components/WalletButton.vue
  packages/nft-quest/composables/useConfig.ts
  packages/nft-quest/composables/useWalletConnector.ts
  packages/nft-quest/index.d.ts
  packages/nft-quest/pages/index.vue
  packages/nft-quest/pages/mint/index.vue
  packages/nft-quest/stores/account.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: format and lint
  packages/contracts/src/test/ERC20.sol
  packages/contracts/src/validators/SessionKeyValidator.sol
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/SessionKeyTest.ts
  packages/contracts/test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: remove the automatic funding of 1 eth from auth server and fix color mode and fix linting
  cspell-config/cspell-misc.txt
  packages/demo-app/pages/index.vue
  packages/gateway/components/views/Login.vue
  packages/gateway/components/zk/ButtonIcon.vue
  packages/gateway/components/zk/input.vue
  packages/gateway/nuxt.config.ts
  packages/nft-quest-contracts/deploy/utils.ts
  packages/nft-quest/components/zk/input.vue
  packages/nft-quest/composables/useConfig.ts
  packages/nft-quest/nuxt.config.ts
  packages/nft-quest/public/favicon.svg
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: use address mapping for passkey storage
  packages/contracts/hardhat.config.ts
  packages/contracts/src/AAFactory.sol
  packages/contracts/src/ClaveAccount.sol
  packages/contracts/src/handlers/ValidationHandler.sol
  packages/contracts/src/helpers/Logger.sol
  packages/contracts/src/managers/ModuleManager.sol
  packages/contracts/src/validators/PasskeyValidator.sol
  packages/contracts/src/validators/SessionPasskeySpendLimitModule.sol
  packages/contracts/src/validators/WebAuthValidator.sol
  packages/demo-app/project.json
  packages/gateway/stores/client.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

feat: session state getter
  packages/contracts/src/validators/SessionKeyValidator.sol
  packages/contracts/test/SessionKeyTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: remove username requirement
  packages/gateway/components/views/Login.vue
  packages/nft-quest/pages/index.vue
  packages/sdk/src/client/actions/passkey.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore(nft-quest): cleanup store and composables
  packages/gateway/stores/client.ts
  packages/nft-quest-contracts/deployments-zk/inMemoryNode/contracts/NFTQuestPaymaster.sol/NFTQuestPaymaster.json
  packages/nft-quest-contracts/deployments-zk/inMemoryNode/contracts/ZeekNFTQuest.sol/ZeekNFTQuest.json
  packages/nft-quest/components/WalletButton.vue
  packages/nft-quest/components/zk/input.vue
  packages/nft-quest/composables/useConfig.ts
  packages/nft-quest/composables/useWalletConnector.ts
  packages/nft-quest/middleware/requireLogin.ts
  packages/nft-quest/nuxt.config.ts
  packages/nft-quest/pages/index.vue
  packages/nft-quest/pages/mint.vue
  packages/nft-quest/pages/mint/index.vue
  packages/nft-quest/stores/account.ts
  packages/nft-quest/stores/connector.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

feat: remove usernames from accounts during creation and styling to create account button
  packages/contracts/src/AAFactory.sol
  packages/gateway/components/views/Login.vue
  packages/nft-quest/components/zk/input.vue
  packages/nft-quest/stores/connector.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: fix trnasction
  .gitignore
  packages/gateway/components/AccountHeader.vue
  packages/gateway/components/views/confirmation/RequestAccounts.vue
  packages/gateway/components/views/confirmation/Send.vue
  packages/gateway/nuxt.config.ts
  packages/nft-quest/nuxt.config.ts
  packages/nft-quest/pages/mint/index.vue
  packages/nft-quest/pages/mint/share.vue
  packages/nft-quest/utils/abi.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: get login functionality to work in auth server
  packages/contracts/src/validators/WebAuthValidator.sol
  packages/gateway/components/views/Login.vue
  packages/gateway/stores/client.ts
  packages/sdk/src/utils/passkey.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: add timestamp to local passkeys
  packages/gateway/components/views/Login.vue
Due: cspell lint --no-must-find-files --files, eslint --fix

fix: naming bug
  packages/gateway/components/views/Login.vue
Due: cspell lint --no-must-find-files --files, eslint --fix

feat: try to adapt sdk and gateway to the new interface
  packages/contracts/src/validators/PasskeyValidator.sol
  packages/contracts/test/BasicTest.ts
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/SessionKeyTest.ts
  packages/contracts/test/utils.ts
  packages/demo-app/pages/index.vue
  packages/gateway/components/views/Login.vue
  packages/gateway/components/views/confirmation/RequestSession.vue
  packages/gateway/stores/client.ts
  packages/sdk/src/abi/SessionKeyModule.ts
  packages/sdk/src/abi/SessionPasskeySpendLimitModule.ts
  packages/sdk/src/client-gateway/interface.ts
  packages/sdk/src/client/actions/account.ts
  packages/sdk/src/client/actions/session.ts
  packages/sdk/src/client/clients/session.ts
  packages/sdk/src/client/decorators/passkey.ts
  packages/sdk/src/client/decorators/session.ts
  packages/sdk/src/client/smart-account.ts
  packages/sdk/src/utils/encoding.ts
  packages/sdk/src/utils/index.ts
  packages/sdk/src/utils/session.ts
  packages/sdk/tsconfig.base.json
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore: format
  packages/contracts/src/validators/PasskeyValidator.sol
  packages/contracts/src/validators/SessionKeyValidator.sol
  packages/contracts/test/BasicTest.ts
  packages/contracts/test/SessionKeyTest.ts
  packages/contracts/test/utils.ts
  packages/demo-app/pages/index.vue
  packages/gateway/components/views/confirmation/RequestSession.vue
  packages/sdk/src/abi/SessionKeyModule.ts
  packages/sdk/src/client-gateway/interface.ts
  packages/sdk/src/client/actions/account.ts
  packages/sdk/src/client/actions/session.ts
  packages/sdk/src/utils/encoding.ts
  packages/sdk/src/utils/session.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: update addresses
  packages/gateway/stores/client.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: erc165
  packages/contracts/src/validators/PasskeyValidator.sol
  packages/contracts/src/validators/WebAuthValidator.sol
  packages/gateway/components/views/confirmation/RequestSession.vue
  packages/gateway/stores/client.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: minting nft
  .DS_Store
  packages/nft-quest-contracts/contracts/NFTQuestPaymaster.sol
  packages/nft-quest-contracts/deploy/deploy.ts
  packages/nft-quest-contracts/deployments-zk/inMemoryNode/contracts/NFTQuestPaymaster.sol/NFTQuestPaymaster.json
  packages/nft-quest-contracts/deployments-zk/inMemoryNode/contracts/ZeekNFTQuest.sol/ZeekNFTQuest.json
  packages/nft-quest/components/TransferZeek.vue
  packages/nft-quest/composables/useMintNft.ts
  packages/nft-quest/nuxt.config.ts
  packages/nft-quest/pages/mint/index.vue
  packages/nft-quest/pages/mint/share.vue
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore: update bank demo host
  packages/bank-demo/nuxt.config.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit
