Repository sophon-org/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

.lintstagedrc.yml:

"*.{js,ts,vue,mjs,cjs}":
  - cspell lint --no-must-find-files --files
  - eslint --fix
"*.ts":
  - tsc-files --project ./tsconfig.base.json --noEmit
"*.md":
  - cspell lint --no-must-find-files --files
"*.{yml,yaml,json}":
  - prettier --write --ignore-unknown

chore: update README, add e2e debug command, address test flakiness
  README.md
  packages/demo-app/eslint.config.js
  packages/demo-app/package.json
  packages/demo-app/playwright.config.ts
  packages/demo-app/tests/create-account.spec.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix: wait for servers to be ready in e2e tests
  packages/demo-app/tests/create-account.spec.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: use the single array of module types
  packages/contracts/src/ClaveAccount.sol
  packages/contracts/src/interfaces/IModule.sol
  packages/contracts/src/managers/HookManager.sol
  packages/contracts/src/managers/ModuleManager.sol
  packages/contracts/src/validators/SessionPasskeySpendLimitModule.sol
Due: none

chore: lints
  cspell-config/cspell-sol.txt
  package.json
  packages/contracts/src/ClaveAccount.sol
  packages/contracts/src/interfaces/IClaveAccount.sol
  packages/contracts/test/BasicTest.ts
  packages/contracts/test/EndToEndSpendLimit.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix: ci tests
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/gateway/stores/client.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: e2e test (again)
  packages/demo-app/tests/create-account.spec.ts
  packages/gateway/stores/client.ts
  packages/sdk/src/abi/Factory.ts
  packages/sdk/src/client/actions/account.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: cleanup
  packages/contracts/test/EndToEndSpendLimit.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: use dynamic validation signature
  packages/contracts/src/ERC7579Account.sol
  packages/contracts/src/handlers/ValidationHandler.sol
  packages/contracts/src/interfaces/IModuleValidator.sol
  packages/contracts/src/validators/SessionPasskeySpendLimitModule.sol
  packages/contracts/src/validators/WebAuthValidator.sol
Due: none

feat: add modular validator to 4337 entry-point
  packages/contracts/src/ERC7579Account.sol
  packages/contracts/src/managers/ValidatorManager.sol
Due: none

feat: use the single array of module types
  packages/contracts/src/ClaveAccount.sol
  packages/contracts/src/interfaces/IModule.sol
  packages/contracts/src/managers/ModuleManager.sol
  packages/contracts/src/validators/SessionPasskeySpendLimitModule.sol
Due: none

fix: compile errors from rebase
  packages/contracts/src/AAFactory.sol
  packages/contracts/src/ClaveAccount.sol
  packages/contracts/src/interfaces/IClaveAccount.sol
  packages/contracts/src/validators/SessionPasskeySpendLimitModule.sol
Due: none

chore: progress
  package.json
  packages/gateway/components/views/Login.vue
  packages/revolut-demo/components/app/AddCryptoButton.vue
  packages/revolut-demo/components/app/OnRampCrypto.vue
  packages/revolut-demo/components/token/eth.vue
  packages/revolut-demo/components/token/gbp.vue
  packages/revolut-demo/composables/useAppMeta.ts
  packages/revolut-demo/package.json
  packages/revolut-demo/pages/cards.vue
  packages/revolut-demo/pages/crypto-account-extra.vue
  packages/revolut-demo/pages/crypto-account.vue
  packages/revolut-demo/pages/index.vue
  packages/revolut-demo/public/revolut-logo.png
  packages/sdk/src/client/actions/passkey.ts
  pnpm-lock.yaml
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore: it works
  packages/revolut-demo/components/app/AddCryptoButton.vue
  packages/revolut-demo/composables/useAppMeta.ts
  packages/revolut-demo/package.json
  packages/revolut-demo/pages/crypto-account.vue
  packages/sdk/src/client/actions/session.ts
  pnpm-lock.yaml
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix: connecting with gateway without session (#95)
  packages/gateway/components/views/confirmation/RequestAccounts.vue
  packages/sdk/src/client-gateway/Signer.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: transaction screen improvements and fixes (#96)
  packages/gateway/components/views/confirmation/Send.vue
  packages/gateway/stores/client.ts
  packages/gateway/stores/requests.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: revolut demo views
  packages/revolut-demo/components/app/AddCryptoButton.vue
  packages/revolut-demo/components/app/OnRampCrypto.vue
  packages/revolut-demo/components/layout/Card.vue
  packages/revolut-demo/components/zk/Tabs.vue
  packages/revolut-demo/composables/useAppMeta.ts
  packages/revolut-demo/pages/checkout.vue
  packages/revolut-demo/pages/crypto-account.vue
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: edit layout of revolut demo
  packages/revolut-demo/layouts/default.vue
  packages/revolut-demo/pages/crypto-account.vue
Due: cspell lint --no-must-find-files --files, eslint --fix

chore: cleanup
  packages/revolut-demo/pages/index.vue
Due: cspell lint --no-must-find-files --files, eslint --fix

chore: setup revolut firebase hosting
  .firebaserc
  .gitignore
  firebase.json
  packages/revolut-demo/README.md
  packages/revolut-demo/components/app/AddCryptoButton.vue
  packages/revolut-demo/composables/useAppMeta.ts
  packages/revolut-demo/index.d.ts
  packages/revolut-demo/nuxt.config.ts
  packages/revolut-demo/pages/checkout.vue
  packages/revolut-demo/pages/crypto-account.vue
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore: update readme
  packages/revolut-demo/README.md
Due: cspell lint --no-must-find-files --files

feat: new session key module compiled
  packages/contracts/src/ClaveAccount.sol
  packages/contracts/src/managers/HookManager.sol
  packages/contracts/src/validators/SessionKeyValidator.sol
  packages/contracts/src/validators/SessionPasskeySpendLimitModule.sol
Due: none

chore: update deploy config for revolut-demo
  packages/revolut-demo/README.md
  packages/revolut-demo/composables/useAppMeta.ts
  packages/revolut-demo/nuxt.config.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: revolut edits
  packages/revolut-demo/nuxt.config.ts
  packages/revolut-demo/package.json
  packages/revolut-demo/project.json
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore: wip on revolut
  .firebaserc
  firebase.json
  packages/revolut-demo/README.md
  packages/revolut-demo/components/app/OnRampCrypto.vue
  packages/revolut-demo/components/zk/Dropdown.vue
  packages/revolut-demo/composables/useCart.ts
  packages/revolut-demo/composables/useHistory.ts
  packages/revolut-demo/pages/checkout.vue
  packages/revolut-demo/pages/crypto-account.vue
  packages/revolut-demo/pages/index.vue
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore: edit name
  packages/revolut-demo/composables/useHistory.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: update revolut-demo
  packages/revolut-demo/composables/useCart.ts
  packages/revolut-demo/pages/checkout.vue
  packages/revolut-demo/pages/crypto-account.vue
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

test: add some tests
  packages/contracts/src/ClaveAccount.sol
  packages/contracts/src/managers/HookManager.sol
  packages/contracts/src/validators/SessionKeyValidator.sol
  packages/contracts/test/EndToEndSpendLimit.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

test: forgot to push
  packages/contracts/test/SessionKeyTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: wip
  .firebase/hosting.cGFja2FnZXMvZ2F0ZXdheS8ub3V0cHV0L3B1YmxpYw.cache
  .vscode/settings.json
  .vscode/tailwind.json
  packages/gateway/assets/css/style.scss
  packages/gateway/components/app/color-mode.vue
  packages/gateway/components/app/nav-mobile-menu.vue
  packages/gateway/components/app/nav.vue
  packages/gateway/components/layout/header.vue
  packages/gateway/components/layout/section.vue
  packages/gateway/components/zk/account-logo.vue
  packages/gateway/components/zk/button-icon.vue
  packages/gateway/components/zk/button.vue
  packages/gateway/components/zk/copy.vue
  packages/gateway/components/zk/dialog.vue
  packages/gateway/components/zk/dropdown.vue
  packages/gateway/components/zk/icon-thumbnail.vue
  packages/gateway/components/zk/icon.vue
  packages/gateway/components/zk/input.vue
  packages/gateway/components/zk/link.vue
  packages/gateway/components/zk/panel/card.vue
  packages/gateway/components/zk/panel/section.vue
  packages/gateway/components/zk/switch.vue
  packages/gateway/components/zk/table/body.vue
  packages/gateway/components/zk/table/cell-data.vue
  packages/gateway/components/zk/table/row-link.vue
  packages/gateway/components/zk/table/row.vue
  packages/gateway/components/zk/tabs.vue
  packages/gateway/components/zk/tooltip.vue
  packages/gateway/nuxt.config.ts
  packages/gateway/package.json
  packages/gateway/pages/kitchen-sink.vue
  packages/gateway/public/demo/avatar-uniswap.png
  packages/gateway/public/demo/frame-thumbnail.png
  packages/gateway/public/demo/square-thumbnail.png
  packages/gateway/tailwind.config.js
  pnpm-lock.yaml
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore: wip
  packages/gateway/components/app/AccountLogo.vue
  packages/gateway/components/app/ColorMode.vue
  packages/gateway/components/app/NavMobileMenu.vue
  packages/gateway/components/app/color-mode.vue
  packages/gateway/components/app/nav.vue
  packages/gateway/components/zk/ButtonIcon.vue
  packages/gateway/components/zk/IconThumbnail.vue
  packages/gateway/components/zk/copy.vue
  packages/gateway/components/zk/dialog.vue
  packages/gateway/components/zk/dropdown.vue
  packages/gateway/components/zk/input.vue
  packages/gateway/components/zk/link.vue
  packages/gateway/components/zk/panel/card.vue
  packages/gateway/components/zk/panel/section.vue
  packages/gateway/components/zk/switch.vue
  packages/gateway/components/zk/table/CellData.vue
  packages/gateway/components/zk/table/RowLink.vue
  packages/gateway/components/zk/table/body.vue
  packages/gateway/components/zk/table/row.vue
  packages/gateway/components/zk/tabs.vue
  packages/gateway/components/zk/tooltip.vue
  packages/gateway/composables/useAppColorMode.ts
  packages/gateway/composables/useCommunicator.ts
  packages/gateway/composables/useConfig.ts
  packages/gateway/composables/useNetworks.ts
  packages/gateway/layouts/dashboard.vue
  packages/gateway/layouts/default.vue
  packages/gateway/nuxt.config.ts
  packages/gateway/package.json
  packages/gateway/pages/dashboard/index.vue
  packages/gateway/pages/index.vue
  packages/gateway/pages/kitchen-sink/connect-loading.vue
  packages/gateway/pages/kitchen-sink/connect.vue
  packages/gateway/pages/kitchen-sink/design-components.vue
  packages/gateway/public/zksync-logo.svg
  packages/gateway/stores/requests.ts
  packages/gateway/tailwind.config.js
  pnpm-lock.yaml
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore: wip
  packages/demo-app/composables/useConfig.ts
  packages/demo-app/composables/useNetworks.ts
  packages/demo-app/nuxt.config.ts
  packages/demo-app/package.json
  packages/demo-app/pages/index.vue
  packages/gateway/components/layout/header.vue
  packages/gateway/components/layout/section.vue
  packages/gateway/components/zk/button-icon.vue
  packages/gateway/composables/useCommunicator.ts
  packages/gateway/pages/confirm.vue
  packages/gateway/pages/index.vue
  packages/gateway/pages/kitchen-sink/index.vue
  packages/gateway/pages/login.vue
  packages/gateway/tailwind.config.js
  packages/gateway/utils/communicator.ts
  pnpm-lock.yaml
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore: wip
  .gitignore
  packages/demo-app/README.md
  packages/demo-app/app.vue
  packages/demo-app/composables/useConfig.ts
  packages/demo-app/project.json
  packages/gateway/app.vue
  packages/gateway/assets/css/style.scss
  packages/gateway/components/views/Login.vue
  packages/gateway/components/zk/button-icon.vue
  packages/gateway/components/zk/button.vue
  packages/gateway/components/zk/input.vue
  packages/gateway/components/zk/link.vue
  packages/gateway/composables/useCommunicator.ts
  packages/gateway/layouts/popup.vue
  packages/gateway/nuxt.config.ts
  packages/gateway/package.json
  packages/gateway/pages/confirm.vue
  packages/gateway/pages/index.vue
  packages/gateway/pages/kitchen-sink/components/buttons-example.vue
  packages/gateway/pages/kitchen-sink/index.vue
  packages/gateway/pages/login.vue
  packages/gateway/pages/register.vue
  packages/gateway/stores/account.ts
  packages/gateway/stores/requests.ts
  packages/gateway/tailwind.config.js
  pnpm-lock.yaml
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore: wip
  packages/gateway/components/zk/button.vue
  packages/gateway/pages/register.vue
  packages/gateway/stores/requests.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: wip
  packages/gateway/composables/useCommunicator.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: wip
  packages/gateway/components/common/Spinner.vue
  packages/gateway/components/zk/button.vue
  packages/gateway/components/zk/input.vue
  packages/gateway/composables/useCommunicator.ts
  packages/gateway/composables/useFetchAccountData.ts
  packages/gateway/middleware/auth.ts
  packages/gateway/pages/confirm.vue
  packages/gateway/pages/dashboard/index.vue
  packages/gateway/pages/kitchen-sink/components/inputs-example.vue
  packages/gateway/pages/kitchen-sink/index.vue
  packages/gateway/pages/login.vue
  packages/gateway/pages/register.vue
  packages/gateway/stores/requests.ts
  packages/gateway/utils/communicator.ts
  packages/sdk/src/client/actions/session.ts
  packages/sdk/src/communicator/PopupCommunicator.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: wip
  packages/demo-app/package.json
  packages/demo-app/project.json
  packages/gateway/pages/login.vue
  packages/gateway/pages/register.vue
Due: cspell lint --no-must-find-files --files, eslint --fix, prettier --write --ignore-unknown

chore: design work
  packages/gateway/components/views/Login.vue
  packages/gateway/components/views/confirmation/RequestSession.vue
  packages/gateway/layouts/popup.vue
  packages/gateway/pages/confirm.vue
  packages/gateway/stores/account.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: session key transaction
  packages/contracts/test/SessionKeyTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: add dashboard pages
  packages/gateway/components/app/NavMobileMenu.vue
  packages/gateway/components/app/nav.vue
  packages/gateway/composables/useNav.ts
  packages/gateway/layouts/default.vue
  packages/gateway/layouts/popup.vue
  packages/gateway/middleware/redirectDashboard.ts
  packages/gateway/pages/dashboard.vue
  packages/gateway/pages/dashboard/history.vue
  packages/gateway/pages/dashboard/index.vue
  packages/gateway/pages/dashboard/marketplace.vue
  packages/gateway/pages/dashboard/sessions.vue
  packages/gateway/pages/dashboard/settings.vue
  packages/gateway/pages/index.vue
  packages/gateway/pages/login.vue
  packages/gateway/pages/register.vue
  packages/gateway/tailwind.config.js
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: create useAccountRegistration composable
  packages/gateway/composables/useAccountRegistration.ts
  packages/gateway/pages/register.vue
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit
