Repository sophon-org/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore: clean up code
  src/validators/GuardianRecoveryValidator.sol
  test/GuardianRecoveryValidatorTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: refactor tests
  test/GuardianRecoveryValidatorTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: improve init method
  src/validators/GuardianRecoveryValidator.sol
Due: none

feat: simplify initRecovery method
  scripts/deploy.ts
  src/validators/GuardianRecoveryValidator.sol
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: resolve pr comments
  src/validators/GuardianRecoveryValidator.sol
Due: none

chore: remove unused access to accountGuardians
  src/validators/GuardianRecoveryValidator.sol
Due: none

feat: restore guardiansFor method
  src/validators/GuardianRecoveryValidator.sol
Due: none

chore: resolve build issues
  src/validators/GuardianRecoveryValidator.sol
Due: none

chore: resolve build issues
  src/interfaces/IGuardianRecoveryValidator.sol
Due: none

feat: make guardian recovery validator contract proxy-able
  scripts/deploy.ts
  src/TransparentProxy.sol
  src/validators/GuardianRecoveryValidator.sol
  test/GuardianRecoveryValidatorTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: simplify initializer function name
  scripts/deploy.ts
  src/validators/GuardianRecoveryValidator.sol
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: add function to retrieve guarded accounts
  src/validators/GuardianRecoveryValidator.sol
Due: none

fix: improve recovery validator logic
  src/validators/GuardianRecoveryValidator.sol
Due: none

feat: allow paymaster calls to GuardianRecoveryValidator
  scripts/deploy.ts
  src/test/ExampleAuthServerPaymaster.sol
  src/validators/GuardianRecoveryValidator.sol
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: fix guardian recovery validator compilation
  src/validators/GuardianRecoveryValidator.sol
Due: none

fix: deployment
  scripts/deploy.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: gas optimizations and minor improvements (#294)
  src/libraries/SsoStorage.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: none

fix: batch caller improvements (#293)
  src/batch/BatchCaller.sol
  src/libraries/Errors.sol
Due: none

Merge Guardian recovery (#296)
  package.json
  pnpm-lock.yaml
  scripts/deploy.ts
  src/AAFactory.sol
  src/TransparentProxy.sol
  src/interfaces/IGuardianRecoveryValidator.sol
  src/test/ExampleAuthServerPaymaster.sol
  src/validators/GuardianRecoveryValidator.sol
  test/GuardianRecoveryValidatorTest.ts
  test/PasskeyModule.ts
  test/SessionKeyTest.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

test: OidcKeyRegistry (#284)
  cspell-config/cspell-misc.txt
  test/OidcKeyRegistryTest.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: Add OidcValidator (#274)
  cspell-config/cspell-misc.txt
  src/validators/OidcValidator.sol
Due: none

feat: make recovery validator compatible with multi passkey format
  scripts/deploy.ts
  src/test/ExampleAuthServerPaymaster.sol
  src/validators/GuardianRecoveryValidator.sol
  src/validators/WebAuthValidator.sol
  test/GuardianRecoveryValidatorTest.ts
  test/SessionKeyTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: add reserving credential id for recovery use
  src/validators/GuardianRecoveryValidator.sol
  src/validators/WebAuthValidator.sol
Due: none

feat: change salt depending on deployer (#295)
  src/AAFactory.sol
  test/BasicTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: simplify key storage
  src/validators/WebAuthValidator.sol
  test/PasskeyModule.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: migrate to custom errors (#298)
  src/AAFactory.sol
  src/SsoAccount.sol
  src/batch/BatchCaller.sol
  src/helpers/TimestampAsserterLocator.sol
  src/helpers/Utils.sol
  src/interfaces/IModule.sol
  src/libraries/Errors.sol
  src/libraries/SessionLib.sol
  src/managers/HookManager.sol
  src/managers/OwnerManager.sol
  src/managers/ValidatorManager.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: none

docs: update comment to explain new mapping
  src/validators/WebAuthValidator.sol
Due: none

feat: merge mappings into single struct
  src/validators/WebAuthValidator.sol
  test/PasskeyModule.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: add script to publish abi
  hardhat.config.ts
  package.json
  scripts/publish.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

Path conditions:
  cspell lint --no-must-find-files --files: (any of: *.{js,ts,vue,mjs,cjs}) or (any of: *.md)
  eslint --fix: any of: *.{js,ts,vue,mjs,cjs}
  tsc-files --project ./tsconfig.base.json --noEmit: any of: *.ts
  prettier --write --ignore-unknown: any of: *.{yml,yaml,json}
