Repository sophon-org/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix: add tests to check each argument
  test/BasicTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: remove .only from new test
  test/BasicTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: remove commented code for testing
  src/AAFactory.sol
  test/BasicTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: just use the automatic getters
  src/AAFactory.sol
  test/BasicTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

Create2 helpers and example tests (#222)
  src/AAFactory.sol
  test/BasicTest.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: update the upgrade scripts to work with AAFactory (#223)
  scripts/upgrade.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: link to parent project (#215)
  .github/workflows/ci.yml
  README.md
Due: cspell lint --no-must-find-files --files, prettier --write --ignore-unknown

feat: use static salt for deploy task
  scripts/deploy.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: add test for session on factory creation (#224)
  test/SessionKeyTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: remove uint2str (#225)
  src/libraries/JsmnSolLib.sol
Due: none

feat: add values to error messages (#226)
  src/SsoAccount.sol
  src/auth/BootloaderAuth.sol
  src/auth/HookAuth.sol
  src/auth/SelfAuth.sol
  src/batch/BatchCaller.sol
  src/libraries/Errors.sol
  src/libraries/LinkedList.sol
  src/managers/HookManager.sol
  src/managers/ValidatorManager.sol
Due: none

feat: int cleanup (#227)
  src/helpers/Logger.sol
  src/libraries/JsmnSolLib.sol
  src/validators/WebAuthValidator.sol
Due: none

remote interop demo chain
  hardhat.config.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: prevent parsing unicode
  src/validators/WebAuthValidator.sol
Due: none

chore: enable prettier for ts files
  .prettierignore
  hardhat.config.ts
  scripts/deploy.ts
  scripts/upgrade.ts
  test/BasicTest.ts
  test/PasskeyModule.ts
  test/SessionKeyTest.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: update variable names (#230)
  src/SsoAccount.sol
  src/handlers/ERC1271Handler.sol
  src/libraries/JsmnSolLib.sol
  src/managers/ValidatorManager.sol
  src/validators/SessionKeyValidator.sol
Due: none

chore: update comments (#235)
  src/handlers/ValidationHandler.sol
  src/libraries/JsmnSolLib.sol
  src/libraries/LinkedList.sol
  src/managers/OwnerManager.sol
Due: none

chore: use explicit imports (#241)
  src/helpers/TimestampAsserterLocator.sol
  src/helpers/TokenCallbackHandler.sol
Due: none

chore: adjust constant permissions (#240)
  src/handlers/ERC1271Handler.sol
  src/libraries/JsmnSolLib.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: none

chore: cleanup function modifiers (#239)
  src/handlers/ERC1271Handler.sol
  src/libraries/JsmnSolLib.sol
  src/managers/HookManager.sol
  src/managers/OwnerManager.sol
  src/managers/ValidatorManager.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: none

fix: Unreachable JSON parsing functions (#236)
  src/libraries/JsmnSolLib.sol
Due: none

feat: use static salt for deploy task (#229)
  scripts/deploy.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: paymaster check in validateFeeLimit (#243)
  src/libraries/SessionLib.sol
Due: none

fix: isValidSignature (#242)
  src/handlers/ERC1271Handler.sol
Due: none

chore: remove more unused code (#246)
  src/handlers/ValidationHandler.sol
  src/interfaces/IInitable.sol
  src/libraries/JsmnSolLib.sol
  src/managers/HookManager.sol
  src/managers/OwnerManager.sol
  src/test/ExampleAuthServerPaymaster.sol
  src/validators/SessionKeyValidator.sol
Due: none

chore: update duplicate ierc165 check (#245)
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: none

Passkey tests (#231)
  src/test/VerifierCaller.sol
  src/validators/WebAuthValidator.sol
  test/PasskeyModule.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: update hex codes (#237)
  src/libraries/JsmnSolLib.sol
Due: none

fix: minor issues (#247)
  src/SsoAccount.sol
  src/interfaces/ISsoAccount.sol
  src/libraries/JsmnSolLib.sol
  src/libraries/SessionLib.sol
  src/managers/ValidatorManager.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: none

fix: better validations (#248)
  src/SsoAccount.sol
  src/libraries/SessionLib.sol
  src/validators/SessionKeyValidator.sol
Due: none

chore: change how validation is returned (#244)
  src/SsoAccount.sol
Due: none

fix: remove `hookDataStore` and improve linked list iteration (#249)
  src/interfaces/IHook.sol
  src/interfaces/IHookManager.sol
  src/libraries/SsoStorage.sol
  src/managers/HookManager.sol
Due: none

feat: empty GuardianRecoveryValidator
  src/interfaces/IGuardianRecoveryValidator.sol
  src/validators/GuardianRecoveryValidator.sol
Due: none

feat: methods to add a guardian
  scripts/deploy.ts
  src/interfaces/IGuardianRecoveryValidator.sol
  src/validators/GuardianRecoveryValidator.sol
  test/GuardianRecoveryValidatorTest.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: reverting when guardian not found
  src/validators/GuardianRecoveryValidator.sol
Due: none

fix: uint to uint256
  src/validators/GuardianRecoveryValidator.sol
Due: none

feat: replace linked lists with enumerable sets (#250)
  src/SsoAccount.sol
  src/handlers/ERC1271Handler.sol
  src/handlers/ValidationHandler.sol
  src/libraries/LinkedList.sol
  src/libraries/SsoStorage.sol
  src/managers/HookManager.sol
  src/managers/OwnerManager.sol
  src/managers/ValidatorManager.sol
  test/JsmnSolLib.ts
  test/SessionKeyTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

Update module install and remove interfaces (#238)
  package.json
  pnpm-lock.yaml
  src/SsoAccount.sol
  src/interfaces/IHook.sol
  src/interfaces/IHookManager.sol
  src/interfaces/IInitable.sol
  src/interfaces/IModule.sol
  src/interfaces/IModuleValidator.sol
  src/interfaces/IValidatorManager.sol
  src/managers/HookManager.sol
  src/managers/ValidatorManager.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
  test/PasskeyModule.ts
  test/SessionKeyTest.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

Path conditions:
  cspell lint --no-must-find-files --files: (any of: *.{js,ts,vue,mjs,cjs}) or (any of: *.md)
  eslint --fix: any of: *.{js,ts,vue,mjs,cjs}
  tsc-files --project ./tsconfig.base.json --noEmit: any of: *.ts
  prettier --write --ignore-unknown: any of: *.{yml,yaml,json}
