Repository sophon-org/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore: add markdownlint-cli2
  .lintstagedrc.yml
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore: add husky
  .commitlintrc
  .husky/pre-commit
  commitlint.config.js
  package-lock.json
  package.json
Due: cspell lint --no-must-find-files --files, eslint --fix, prettier --write --ignore-unknown

chore: configure markdown in prettier
  .prettierrc.json
Due: prettier --write --ignore-unknown

chore: add lint-staged
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.yml
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore: add commitlint
  .commitlintrc
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore: config cleanup
  .editorconfig
  .github/pull_request_template.md
  .markdownlint-cli2.yaml
  .prettierrc.json
  README.md
  cspell-config/cspell-zksync.txt
Due: cspell lint --no-must-find-files --files, prettier --write --ignore-unknown

chore: update configs
  .editorconfig
  .prettierrc.json
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write --ignore-unknown

chore: add cspell
  .lintstagedrc.yml
  .vscode/extensions.json
  .vscode/settings.json
  cspell-config/cspell-zksync.txt
  cspell.json
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore: switch to pnpm
  .gitignore
  package-lock.json
  pnpm-workspace.yaml
Due: prettier --write --ignore-unknown

chore: remove package-lock and switch to pnpm-lock
  package.json
  packages/contracts/package-lock.json
  packages/gateway/package-lock.json
  packages/sdk/package-lock.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

chore: setup nx commands
  docs/nx-cheatsheet.md
  nx.json
  package.json
Due: cspell lint --no-must-find-files --files, prettier --write --ignore-unknown

chore: add @nx/nuxt plugin
  .vscode/settings.json
  docs/nx-cheatsheet.md
  nx.json
  package.json
  packages/contracts/package.json
  packages/gateway/nuxt.config.ts
  pnpm-lock.yaml
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix: working e2e sdk, code cleanup, basic docs (#29)
  .gitignore
  docs/sdk/client/README.md
  packages/contracts/package-lock.json
  packages/contracts/package.json
  packages/contracts/scripts/deployAccountFactory.ts
  packages/contracts/scripts/deployFactoryAccount.ts
  packages/contracts/scripts/getAccount.ts
  packages/contracts/src/AAFactory.sol
  packages/contracts/src/test/PasskeyValidatorTest.sol
  packages/contracts/test/AccountAbstraction.ts
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/PasskeyModule.ts
  packages/contracts/test/ethers-signed-challenge-standalone.json
  packages/contracts/test/only-signed-viem-challenge.json
  packages/contracts/test/sdk/PasskeyClient.ts
  packages/contracts/test/sdk/utils/passkey.ts
  packages/contracts/test/signed-viem-challenge.json
  packages/contracts/test/utils.ts
  packages/sdk/package-lock.json
  packages/sdk/package.json
  packages/sdk/src/abi/Factory.ts
  packages/sdk/src/abi/SessionPasskeySpendLimitModule.ts
  packages/sdk/src/client/actions/account.ts
  packages/sdk/src/client/actions/passkey.ts
  packages/sdk/src/client/actions/session.ts
  packages/sdk/src/client/clients/session.ts
  packages/sdk/src/client/decorators/passkey.ts
  packages/sdk/src/client/decorators/session.ts
  packages/sdk/src/client/decorators/session_wallet.ts
  packages/sdk/src/client/index.ts
  packages/sdk/src/utils/helpers.ts
  packages/sdk/src/utils/index.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore: nx configuration
  cspell-config/cspell-misc.txt
  cspell.json
  docs/nx-cheatsheet.md
  docs/verdaccio.md
  package.json
  packages/contracts/package.json
  packages/gateway/eslint.config.js
  packages/gateway/package.json
  packages/sdk/package.json
Due: cspell lint --no-must-find-files --files, eslint --fix, prettier --write --ignore-unknown

chore: update gh workflow
  .github/workflows/ci.yml
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

chore: fix renovate configuration
  renovate.json
Due: prettier --write --ignore-unknown

chore: convert gh workflow to use pnpm
  .github/workflows/ci.yml
Due: prettier --write --ignore-unknown

chore: add verdaccio with nx
  .gitignore
  .verdaccio/config.yml
  README.md
  docs/verdaccio.md
  nx.json
  package.json
  packages/sdk/package.json
  pnpm-lock.yaml
  project.json
Due: cspell lint --no-must-find-files --files, prettier --write --ignore-unknown

chore(ci): update to use nx
  .github/workflows/ci.yml
  packages/contracts/package.json
  packages/gateway/package.json
Due: prettier --write --ignore-unknown

chore: fix peer dependency issues
  docs/nx-cheatsheet.md
  packages/contracts/package.json
  packages/gateway/package.json
  pnpm-lock.yaml
Due: cspell lint --no-must-find-files --files, prettier --write --ignore-unknown

chore: add nx vscode extension to recommended list
  .vscode/extensions.json
Due: prettier --write --ignore-unknown

chore: add nx project names to packages
  .github/workflows/ci.yml
  packages/contracts/project.json
  packages/gateway/project.json
  packages/sdk/project.json
Due: prettier --write --ignore-unknown

chore: edit ci workflow
  .github/workflows/ci.yml
  packages/sdk/package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

Update signature files
  packages/contracts/test/signed-challenge.json
  packages/contracts/test/signed-viem-challenge.json
Due: prettier --write --ignore-unknown

Fix TS typechecks in tests
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/PasskeyModule.ts
  packages/contracts/test/sdk/PasskeyClient.ts
  packages/contracts/tsconfig.json
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix: Use zksolc 1.5.3 for contracts
  packages/contracts/hardhat.config.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

Add typechain
  .github/workflows/ci.yml
  packages/contracts/.gitignore
  packages/contracts/hardhat.config.ts
  packages/contracts/package-lock.json
  packages/contracts/package.json
  packages/contracts/test/PasskeyModule.ts
  packages/contracts/tsconfig.json
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore: edit ci
  .github/workflows/ci.yml
  package.json
  packages/contracts/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

chore: update ci commands
  .github/workflows/ci.yml
  README.md
Due: cspell lint --no-must-find-files --files, prettier --write --ignore-unknown

Remove .only
  packages/contracts/test/EndToEndSpendLimit.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

Typo
  packages/contracts/tsconfig.json
Due: prettier --write --ignore-unknown

Fix CI
  .github/workflows/ci.yml
Due: prettier --write --ignore-unknown

fix: update signature files
  package.json
  packages/contracts/test/ethers-signed-challenge-standalone.json
  packages/contracts/test/only-signed-viem-challenge.json
  packages/contracts/test/sdk/PasskeyClient.ts
  packages/contracts/test/signed-challenge.json
  packages/contracts/test/signed-viem-challenge.json
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore: ci update
  .github/workflows/ci.yml
Due: prettier --write --ignore-unknown

chore: remove unused commands in contracts project
  packages/contracts/package.json
Due: prettier --write --ignore-unknown

Update spend limit module to be more user-friendly
  packages/contracts/src/validators/SessionPasskeySpendLimitModule.sol
Due: none

feat: move spend limits under session key
  .vscode/settings.json
  packages/contracts/src/validators/SessionPasskeySpendLimitModule.sol
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/ethers-signed-challenge-standalone.json
  packages/contracts/test/only-signed-viem-challenge.json
  packages/contracts/test/sdk/PasskeyClient.ts
  packages/contracts/test/signed-challenge.json
  packages/contracts/test/signed-viem-challenge.json
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

feat: move key storage to external module
  packages/contracts/src/ClaveAccount.sol
  packages/contracts/src/handlers/ValidationHandler.sol
  packages/contracts/src/interfaces/IModuleValidator.sol
  packages/contracts/src/interfaces/IValidator.sol
  packages/contracts/src/interfaces/IValidatorManager.sol
  packages/contracts/src/managers/ValidatorManager.sol
  packages/contracts/src/validators/PasskeyValidator.sol
  packages/contracts/src/validators/WebAuthValidator.sol
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/sdk/PasskeyClient.ts
  packages/contracts/test/signed-challenge.json
  packages/contracts/test/signed-viem-challenge.json
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore: update monorepo commands
  package.json
Due: prettier --write --ignore-unknown

Path conditions:
  cspell lint --no-must-find-files --files: (any of: *.{js,ts,vue,mjs,cjs}) or (any of: *.md)
  eslint --fix: any of: *.{js,ts,vue,mjs,cjs}
  tsc-files --project ./tsconfig.base.json --noEmit: any of: *.ts
  prettier --write --ignore-unknown: any of: *.{yml,yaml,json}
