Repository sophon-org/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

feat: OIDC account recovery (squashed) (#449)
  cspell-config/cspell-misc.txt
  cspell-config/cspell-sol.txt
  cspell.json
  package.json
  pnpm-lock.yaml
  scripts/deploy.ts
  scripts/publish.ts
  slither.config.json
  src/OidcKeyRegistry.sol
  src/autogenerated/JwtTxValidationVerifier.sol
  src/autogenerated/JwtTxValidationVerifierTest.sol
  src/interfaces/IOidcKeyRegistry.sol
  src/interfaces/IOidcRecoveryValidator.sol
  src/interfaces/IZkVerifier.sol
  src/test/ExampleAuthServerPaymaster.sol
  src/validators/OidcRecoveryValidator.sol
  test/JSONParserLib.ts
  test/OidcKeyRegistryTest.ts
  test/OidcRecoveryValidatorTest.ts
  test/SessionKeyTest.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore: bump verifier
  src/autogenerated/JwtTxValidationVerifier.sol
Due: none

improved Account tracking on AAFactory
  src/AAFactory.sol
Due: none

bug fix in utils.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: ERC7739 (#450)
  src/handlers/ERC1271Handler.sol
  src/interfaces/ISsoAccount.sol
  test/BasicTest.ts
  test/PasskeyModule.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: virtualize session key validator methods (#451)
  src/validators/SessionKeyValidator.sol
Due: none

fix: get revert data in batch caller (#313)
  src/batch/BatchCaller.sol
  src/test/Dummy.sol
  test/BasicTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

added support for etherscan verification; other small updates
  .env.example
  .gitignore
  hardhat.config.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

updated TimestampAsserterLocator to include Sophon mainnet and testnet
  src/helpers/TimestampAsserterLocator.sol
Due: none

feat: xsolla's AllowedSessionsValidator (#454)
  src/libraries/Errors.sol
  src/validators/AllowedSessionsValidator.sol
  src/validators/SessionKeyValidator.sol
Due: none

feat: risk mitigation & hardening fixes (#453)
  .github/workflows/openchain.yml
  package.json
  scripts/openchain.ts
  src/AccountProxy.sol
  src/EfficientProxy.sol
  src/OidcKeyRegistry.sol
  src/SsoAccount.sol
  src/TransparentProxy.sol
  src/batch/BatchCaller.sol
  src/handlers/BatchCaller.sol
  src/handlers/ERC1271Handler.sol
  src/handlers/NoHooksCaller.sol
  src/helpers/SsoUtils.sol
  src/helpers/Utils.sol
  src/interfaces/IAllowedSessionsValidator.sol
  src/interfaces/IBatchCaller.sol
  src/interfaces/IGuardianRecoveryValidator.sol
  src/interfaces/INoHooksCaller.sol
  src/interfaces/IOidcKeyRegistry.sol
  src/interfaces/IOidcRecoveryValidator.sol
  src/interfaces/ISessionKeyValidator.sol
  src/interfaces/ISsoAccount.sol
  src/interfaces/IWebAuthValidator.sol
  src/interfaces/IZkVerifier.sol
  src/libraries/Errors.sol
  src/libraries/SessionLib.sol
  src/libraries/SignatureDecoder.sol
  src/managers/HookManager.sol
  src/validators/AllowedSessionsValidator.sol
  src/validators/GuardianRecoveryValidator.sol
  src/validators/OidcRecoveryValidator.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
  test/BasicTest.ts
  test/GuardianRecoveryValidatorTest.ts
  test/HooksTest.ts
  test/OidcKeyRegistryTest.ts
  test/OidcRecoveryValidatorTest.ts
  test/PasskeyModule.ts
  test/SessionKeyTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

[feat] Tests for AllowedSessionsValidator (#457)
  src/validators/AllowedSessionsValidator.sol
  test/AllowedSessionsValidatorTest.ts
  test/SessionKeyTest.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: internal review fixes (#456)
  src/validators/AllowedSessionsValidator.sol
  src/validators/SessionKeyValidator.sol
  test/AllowedSessionsValidatorTest.ts
  test/GuardianRecoveryValidatorTest.ts
  test/SessionKeyTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

SessionKeyValidator/AllowedSessionsValidator functionally matched to upstream commit a1f785e76ed35e98e937b2de930aa8494243032b
  src/helpers/SsoUtils.sol
  src/interfaces/IAllowedSessionsValidator.sol
  src/interfaces/ISessionKeyValidator.sol
  src/libraries/Errors.sol
  src/validators/AllowedSessionsValidator.sol
  src/validators/SessionKeyValidator.sol
Due: none

fix for AccessControl via proxy
  src/validators/AllowedSessionsValidator.sol
Due: none

Revert "OZ audit fixes (#460)"
  src/SsoAccount.sol
  src/interfaces/IGuardianRecoveryValidator.sol
  src/interfaces/IOidcRecoveryValidator.sol
  src/libraries/SessionLib.sol
  src/validators/AllowedSessionsValidator.sol
  src/validators/GuardianRecoveryValidator.sol
  src/validators/OidcRecoveryValidator.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: none

Path conditions:
  cspell lint --no-must-find-files --files: (any of: *.{js,ts,vue,mjs,cjs}) or (any of: *.md)
  eslint --fix: any of: *.{js,ts,vue,mjs,cjs}
  tsc-files --project ./tsconfig.base.json --noEmit: any of: *.ts
  prettier --write --ignore-unknown: any of: *.{yml,yaml,json}
