Repository sophon-org/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

.lintstagedrc.yml:

"*.{js,ts,vue,mjs,cjs}":
  - cspell lint --no-must-find-files --files
  - eslint --fix
"*.ts":
  - tsc-files --project ./tsconfig.base.json --noEmit
"*.md":
  - cspell lint --no-must-find-files --files
"*.{yml,yaml,json}":
  - prettier --write --ignore-unknown

feat: pass session in sdk
  packages/auth-server/nuxt.config.ts
  packages/auth-server/stores/client.ts
  packages/contracts/src/validators/SessionKeyValidator.sol
  packages/sdk/src/client-auth-server/Signer.ts
  packages/sdk/src/client/actions/account.ts
  packages/sdk/src/client/clients/session.ts
  packages/sdk/src/utils/encoding.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: sdk bug
  packages/contracts/test/SessionKeyTest.ts
  packages/sdk/src/client/clients/session.ts
  packages/sdk/src/utils/encoding.ts
  packages/sdk/src/utils/session.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: remove hardcoded gas limits
  packages/contracts/test/SessionKeyTest.ts
  packages/sdk/src/client/smart-account.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: leave hardcoded gas limit in sdk for now
  packages/sdk/src/client/smart-account.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: login with passkey
  packages/auth-server/components/views/Login.vue
  packages/auth-server/nuxt.config.ts
  packages/auth-server/package.json
  packages/auth-server/stores/client.ts
  packages/nft-quest/project.json
  packages/nft-quest/stores/connector.ts
  packages/sdk/src/utils/passkey.ts
  pnpm-lock.yaml
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

feat: make beacon whitelistable
  packages/contracts/src/AAFactory.sol
  packages/contracts/src/UpgradeableBeacon.sol
Due: none

fix: update addresses
  packages/auth-server/stores/client.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: update addresses again
  packages/auth-server/stores/client.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: add balances to dashboard
  packages/auth-server/components/layout/header.vue
  packages/auth-server/pages/dashboard/history.vue
  packages/auth-server/pages/dashboard/index.vue
  packages/auth-server/pages/dashboard/marketplace.vue
  packages/auth-server/pages/dashboard/sessions.vue
  packages/auth-server/pages/dashboard/settings.vue
  packages/auth-server/pages/index.vue
  packages/auth-server/pages/kitchen-sink/index.vue
  packages/auth-server/stores/client.ts
  packages/auth-server/utils/formatters.ts
  packages/nft-quest/tests/main.spec.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: update table based on api response
  packages/auth-server/pages/dashboard/index.vue
Due: cspell lint --no-must-find-files --files, eslint --fix

chore: slight cleanup to branch before main merge
  package.json
  packages/auth-server/components/views/Login.vue
  packages/auth-server/nuxt.config.ts
  packages/auth-server/package.json
  packages/auth-server/stores/client.ts
  packages/bank-demo/package.json
  packages/contracts/package.json
  packages/demo-app/package.json
  packages/nft-quest/project.json
  packages/sdk/package.json
  packages/sdk/src/utils/passkey.ts
  pnpm-lock.yaml
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore: update addresses for sepolia contracts
  packages/auth-server/stores/client.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: session interface improvements
  packages/auth-server/components/views/Connect.vue
  packages/auth-server/components/views/confirmation/RequestSession.vue
  packages/demo-app/pages/index.vue
  packages/nft-quest/stores/connector.ts
  packages/sdk/src/client-auth-server/Signer.ts
  packages/sdk/src/client-auth-server/WalletProvider.ts
  packages/sdk/src/client-auth-server/index.ts
  packages/sdk/src/client-auth-server/interface.ts
  packages/sdk/src/client-auth-server/rpc.ts
  packages/sdk/src/client-auth-server/session.ts
  packages/sdk/src/client/actions/account.ts
  packages/sdk/src/client/actions/session.ts
  packages/sdk/src/client/clients/common.ts
  packages/sdk/src/client/clients/session.ts
  packages/sdk/src/client/decorators/passkey.ts
  packages/sdk/src/client/decorators/session_wallet.ts
  packages/sdk/src/client/index.ts
  packages/sdk/src/connector/index.ts
  packages/sdk/src/index.ts
  packages/sdk/src/utils/encoding.ts
  packages/sdk/src/utils/session.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: enable ci and fix docs
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  docs/sdk/client-auth-server/README.md
  docs/sdk/client/README.md
  packages/auth-server/components/views/confirmation/RequestSession.vue
  packages/sdk/src/client-auth-server/session.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix: readme formatting
  docs/sdk/client/README.md
Due: cspell lint --no-must-find-files --files

fix: remove redundant workflow triggers
  .github/workflows/ci.yml
  .github/workflows/lint.yml
Due: prettier --write --ignore-unknown

fix: update contract addresses
  packages/auth-server/stores/client.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore(auth-server): clean up assets component
  packages/auth-server/components/dashboard/assets.vue
  packages/auth-server/components/zk/IconThumbnail.vue
  packages/auth-server/pages/dashboard/index.vue
Due: cspell lint --no-must-find-files --files, eslint --fix

chore(auth-server): change login wording
  packages/auth-server/components/views/Login.vue
Due: cspell lint --no-must-find-files --files, eslint --fix

chore(auth-server): add address
  packages/auth-server/components/dashboard/assets.vue
  packages/auth-server/components/layout/header.vue
  packages/auth-server/components/zk/copy.vue
  packages/auth-server/pages/dashboard/index.vue
Due: cspell lint --no-must-find-files --files, eslint --fix

fix: popup communicator
  packages/auth-server/utils/communicator.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: e2e
  packages/contracts/test/SessionKeyTest.ts
  packages/nft-quest/stores/connector.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: move session defaults out of computed
  packages/auth-server/components/views/confirmation/RequestSession.vue
Due: cspell lint --no-must-find-files --files, eslint --fix

chore(auth-server): rework connection
  packages/auth-server/components/common/line/Line.vue
  packages/auth-server/components/session/tokens.vue
  packages/auth-server/components/views/Auth.vue
  packages/auth-server/components/views/confirmation/RequestAccounts.vue
  packages/auth-server/components/views/confirmation/RequestSession.vue
  packages/auth-server/composables/useAccountCreate.ts
  packages/auth-server/composables/useAppMeta.ts
  packages/auth-server/composables/useAppSession.ts
  packages/auth-server/composables/useTokenUtilities.ts
  packages/auth-server/pages/confirm.vue
  packages/auth-server/pages/confirm/connect.vue
  packages/auth-server/pages/confirm/index.vue
  packages/auth-server/stores/communicator.ts
  packages/auth-server/stores/requests.ts
  packages/auth-server/utils/communicator.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: rename fee to feeLimit
  docs/sdk/client-auth-server/README.md
  packages/auth-server/components/views/confirmation/RequestSession.vue
  packages/demo-app/pages/index.vue
  packages/nft-quest/stores/connector.ts
  packages/sdk/src/client-auth-server/session.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: limit zero incorrect LimitType
  packages/sdk/src/utils/session.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: remove session spec, which is copy of createSession from abi
  packages/sdk/src/utils/encoding.ts
  packages/sdk/src/utils/session.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: sdk build
  packages/sdk/src/utils/encoding.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: update contracts to allow initial session during account creation
  packages/auth-server/components/views/Auth.vue
  packages/auth-server/components/views/confirmation/RequestSession.vue
  packages/auth-server/components/zk/highlightWrapper.vue
  packages/auth-server/composables/useAccountCreate.ts
  packages/auth-server/middleware/persistQuery.ts
  packages/auth-server/pages/confirm/connect.vue
  packages/auth-server/pages/confirm/index.vue
  packages/auth-server/stores/client.ts
  packages/contracts/src/validators/SessionKeyValidator.sol
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: remove redundant bigint conversions
  packages/sdk/src/client-auth-server/session.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: update interface to support specifying limit type
  packages/sdk/src/client-auth-server/session.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: use unlimited default limit for calls constraints
  packages/sdk/src/client-auth-server/session.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: pass custom signature during session transaction estimation
  packages/auth-server/nuxt.config.ts
  packages/bank-demo/nuxt.config.ts
  packages/demo-app/nuxt.config.ts
  packages/demo-app/pages/index.vue
  packages/nft-quest/composables/useMintNft.ts
  packages/nft-quest/nuxt.config.ts
  packages/sdk/src/client/clients/session.ts
  packages/sdk/src/client/decorators/publicActionsRewrite.ts
  packages/sdk/src/client/smart-account.ts
  packages/sdk/src/connector/index.ts
  packages/sdk/src/errors/errors.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: updated passkey name
  README.md
  packages/auth-server/composables/useAccountCreate.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore(auth-server): fix signup flow
  packages/auth-server/components/AccountHeader.vue
  packages/auth-server/components/views/Auth.vue
  packages/auth-server/components/views/Connect.vue
  packages/auth-server/components/views/confirmation/RequestAccounts.vue
  packages/auth-server/components/views/confirmation/RequestSession.vue
  packages/auth-server/composables/useAppMeta.ts
  packages/auth-server/pages/confirm.vue
  packages/auth-server/pages/confirm/connect.vue
  packages/auth-server/pages/confirm/index.vue
  packages/auth-server/stores/client.ts
  packages/auth-server/stores/communicator.ts
  packages/auth-server/utils/constructReturn.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore(auth-server): add todos
  packages/auth-server/components/views/Auth.vue
  packages/auth-server/components/views/Connect.vue
Due: cspell lint --no-must-find-files --files, eslint --fix

docs: use pnpm
  README.md
Due: cspell lint --no-must-find-files --files

chore(auth-server): cleanup lint errors
  packages/auth-server/components/views/Auth.vue
  packages/auth-server/middleware/persistQuery.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

docs: fixed linting
  README.md
Due: cspell lint --no-must-find-files --files
