Repository sophon-org/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore: fixup registration composable
  packages/gateway/composables/useAccountLogin.ts
  packages/gateway/composables/useAccountRegistration.ts
  packages/gateway/pages/login.vue
  packages/gateway/pages/register.vue
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: install / uninstall
  packages/contracts/src/interfaces/IValidatorManager.sol
  packages/contracts/src/managers/ValidatorManager.sol
  packages/contracts/src/validators/SessionKeyValidator.sol
Due: none

chore: login wip
  packages/gateway/pages/login.vue
Due: cspell lint --no-must-find-files --files, eslint --fix

chore: add allowance+swap multicall test
  packages/contracts/src/test_swap/ERC20TestToken.sol
  packages/contracts/src/test_swap/TokenSwap.sol
  packages/contracts/test/BasicTest.ts
  pnpm-lock.yaml
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix: a bunch of bugs
  packages/contracts/src/ClaveAccount.sol
  packages/contracts/src/validators/SessionKeyValidator.sol
  packages/contracts/test/SessionKeyTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: create mini test framework
  packages/contracts/test/SessionKeyTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: big refactor and ERC20 tests
  packages/contracts/src/validators/SessionKeyValidator.sol
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/SessionKeyTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: more tests
  packages/contracts/src/test/ERC20.sol
  packages/contracts/src/validators/SessionKeyValidator.sol
  packages/contracts/test/SessionKeyTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: reorder tests
  packages/contracts/test/SessionKeyTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: login flow
  packages/demo-app/composables/useConfig.ts
  packages/demo-app/composables/useNetworks.ts
  packages/demo-app/package.json
  packages/demo-app/pages/index.vue
  packages/gateway/components/views/Login.vue
  packages/gateway/components/zk/input.vue
  packages/gateway/composables/useAccountFetch.ts
  packages/gateway/composables/useAccountLogin.ts
  packages/gateway/composables/useAccountRegistration.ts
  packages/gateway/pages/index.vue
  packages/gateway/pages/login.vue
  packages/gateway/pages/register.vue
  pnpm-lock.yaml
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore: cleanup
  .firebase/hosting.cGFja2FnZXMvZ2F0ZXdheS8ub3V0cHV0L3B1YmxpYw.cache
  packages/gateway/stores/requests.ts
  packages/sdk/src/communicator/PopupCommunicator.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: add loading input
  packages/gateway/components/zk/input.vue
Due: cspell lint --no-must-find-files --files, eslint --fix

chore: use bob ross ipsum to pass spelling
  packages/gateway/pages/kitchen-sink/index.vue
Due: cspell lint --no-must-find-files --files, eslint --fix

chore: fix tests
  packages/gateway/components/views/Login.vue
Due: cspell lint --no-must-find-files --files, eslint --fix

chore: fix lint spelling
  cspell-config/cspell-misc.txt
Due: none

chore: cleanup
  packages/demo-app/tests/create-account.spec.ts
  packages/gateway/assets/css/style.scss
  packages/gateway/package.json
  packages/gateway/pages/dashboard.vue
  packages/gateway/pages/index.vue
  pnpm-lock.yaml
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore: fix tests
  packages/demo-app/tests/create-account.spec.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: wip
  packages/gateway/components/kitchen-sink/inputs-example.vue
  packages/gateway/composables/useAccountFetch.ts
  packages/gateway/composables/useAccountLogin.ts
  packages/gateway/composables/useAccountRegistration.ts
  packages/gateway/middleware/auth.ts
  packages/gateway/middleware/loggedIn.ts
  packages/gateway/pages/dashboard.vue
  packages/gateway/pages/index.vue
  packages/gateway/pages/login.vue
  packages/gateway/pages/register.vue
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: fix
  packages/gateway/components/kitchen-sink/inputs-example.vue
Due: cspell lint --no-must-find-files --files, eslint --fix

feat: add getters
  packages/contracts/src/validators/SessionKeyValidator.sol
  packages/contracts/test/SessionKeyTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: ERC165 support
  packages/contracts/hardhat.config.ts
  packages/contracts/src/AAFactory.sol
  packages/contracts/src/managers/HookManager.sol
  packages/contracts/src/managers/ModuleManager.sol
  packages/contracts/src/managers/ValidatorManager.sol
  packages/contracts/src/validators/SessionKeyValidator.sol
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: properly separate calls and transfers
  packages/contracts/src/validators/SessionKeyValidator.sol
  packages/contracts/test/SessionKeyTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: better fee limits
  packages/contracts/src/validators/SessionKeyValidator.sol
  packages/contracts/test/SessionKeyTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: if -> require
  packages/contracts/src/validators/SessionKeyValidator.sol
Due: none

feat(nft-quest): add login
  packages/demo-app/package.json
  packages/gateway/package.json
  packages/nft-quest/app.vue
  packages/nft-quest/components/WalletButton.vue
  packages/nft-quest/components/zk/input.vue
  packages/nft-quest/composables/useConfig.ts
  packages/nft-quest/composables/useWalletConnector.ts
  packages/nft-quest/middleware/requireLogin.ts
  packages/nft-quest/package.json
  packages/nft-quest/pages/index.vue
  packages/nft-quest/pages/mint.vue
  packages/nft-quest/pages/mint/index.vue
  packages/nft-quest/pages/mint/share.vue
  packages/nft-quest/stores/account.ts
  packages/nft-quest/utils/transitions.ts
  packages/nft-quest/utils/useTruncateAddress.ts
  packages/sdk/package.json
  pnpm-lock.yaml
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

feat: storage layout overhaul to comply with AA restrictions
  packages/contracts/src/validators/SessionKeyValidator.sol
Due: none

chore(nft-quest): fixes
  packages/nft-quest/.gitignore
  packages/nft-quest/app.vue
  packages/nft-quest/components/TransferZeek.vue
  packages/nft-quest/composables/useConfig.ts
  packages/nft-quest/composables/useWalletConnector.ts
  packages/nft-quest/contracts/zeek-nft.sol
  packages/nft-quest/deploy/deploy.cjs
  packages/nft-quest/deploy/utils.cjs
  packages/nft-quest/hardhat.config.cjs
  packages/nft-quest/package.json
  packages/nft-quest/pages/index.vue
  packages/nft-quest/pages/mint/index.vue
  packages/nft-quest/pages/mint/share.vue
  packages/nft-quest/project.json
  packages/nft-quest/public/check.gif
  packages/nft-quest/public/nft-zeek.gif
  packages/nft-quest/stores/account.ts
  packages/nft-quest/utils/useTruncateAddress.ts
  pnpm-lock.yaml
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix: add more logging
  packages/contracts/test/sdk/PasskeyClient.ts
  packages/revolut-demo/pages/crypto-account.vue
  packages/sdk/src/client/clients/passkey.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: upgrade from debug to warn
  packages/sdk/src/utils/passkey.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: debug signature format
  packages/sdk/src/utils/passkey.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: wip
  packages/revolut-demo/nuxt.config.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: wip
  packages/revolut-demo/project.json
Due: prettier --write --ignore-unknown

fix: default addresses
  packages/revolut-demo/nuxt.config.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: add loading feedback for transactions and remove extra page
  docs/sdk/client/README.md
  packages/bank-demo/components/app/AddCryptoButton.vue
  packages/bank-demo/components/app/OnRampCrypto.vue
  packages/bank-demo/components/common/Spinner.vue
  packages/bank-demo/components/layout/Header.vue
  packages/bank-demo/pages/checkout.vue
  packages/bank-demo/pages/crypto-account-extra.vue
  packages/bank-demo/pages/crypto-account.vue
  packages/bank-demo/pages/index.vue
Due: cspell lint --no-must-find-files --files, eslint --fix

chore: doc updates
  packages/revolut-demo/README.md
  packages/revolut-demo/project.json
Due: cspell lint --no-must-find-files --files, prettier --write --ignore-unknown

fix: use https endpoint
  packages/contracts/hardhat.config.ts
  packages/revolut-demo/README.md
  packages/revolut-demo/components/token/gbp.vue
  packages/revolut-demo/nuxt.config.ts
  packages/revolut-demo/pages/cards.vue
  packages/revolut-demo/pages/crypto-account-extra.vue
  packages/sdk/src/client/actions/session.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: use demonet
  packages/contracts/hardhat.config.ts
  packages/revolut-demo/nuxt.config.ts
  packages/revolut-demo/pages/crypto-account.vue
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

Path conditions:
  cspell lint --no-must-find-files --files: (any of: *.{js,ts,vue,mjs,cjs}) or (any of: *.md)
  eslint --fix: any of: *.{js,ts,vue,mjs,cjs}
  tsc-files --project ./tsconfig.base.json --noEmit: any of: *.ts
  prettier --write --ignore-unknown: any of: *.{yml,yaml,json}
