Repository sophon-org/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore(nft-quest): disable 1password form saver (#187)
  examples/nft-quest/components/TransferZeek.vue
  examples/nft-quest/components/zk/input.vue
Due: cspell lint --no-must-find-files --files, eslint --fix

fix: remove hardcoded gas, fix estimation, sdk improvements (#193)
  cspell-config/cspell-misc.txt
  examples/demo-app/pages/index.vue
  examples/nft-quest/composables/useMintNft.ts
  examples/nft-quest/nuxt.config.ts
  packages/auth-server/nuxt.config.ts
  packages/contracts/test/PasskeyModule.ts
  packages/contracts/test/SessionKeyTest.ts
  packages/sdk/README.md
  packages/sdk/prepare-package.mjs
  packages/sdk/src/client-auth-server/Signer.ts
  packages/sdk/src/client-auth-server/WalletProvider.ts
  packages/sdk/src/client-auth-server/interface.ts
  packages/sdk/src/client/actions/sendEip712Transaction.ts
  packages/sdk/src/client/clients/session.ts
  packages/sdk/src/client/decorators/publicActionsRewrite.ts
  packages/sdk/src/client/decorators/session_wallet.ts
  packages/sdk/src/client/smart-account.ts
  packages/sdk/src/connector/index.ts
  packages/sdk/src/errors/errors.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore(nft-quest): edit layout (#194)
  examples/nft-quest/app.vue
  examples/nft-quest/assets/style.scss
  examples/nft-quest/nuxt.config.ts
  examples/nft-quest/pages/index.vue
  examples/nft-quest/pages/mint.vue
  examples/nft-quest/pages/mint/index.vue
  examples/nft-quest/public/nft-slow-loop.gif
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: rename cleanup v2 (#188)
  packages/auth-server/stores/client.ts
  packages/contracts/src/AAFactory.sol
  packages/contracts/src/ERC7579Account.sol
  packages/contracts/src/SsoAccount.sol
  packages/contracts/src/helpers/Execution.sol
  packages/contracts/src/interfaces/IERC7579Account.sol
  packages/contracts/src/interfaces/IERC7579Validator.sol
  packages/contracts/src/interfaces/ISsoAccount.sol
  packages/contracts/src/libraries/ERC7579Mode.sol
  packages/contracts/src/libraries/Errors.sol
  packages/contracts/src/libraries/SsoStorage.sol
  packages/contracts/src/managers/HookManager.sol
  packages/contracts/src/managers/ModuleManager.sol
  packages/contracts/src/managers/OwnerManager.sol
  packages/contracts/src/managers/ValidatorManager.sol
  packages/contracts/src/test/ExampleAuthServerPaymaster.sol
  packages/contracts/test/BasicTest.ts
  packages/contracts/test/SessionKeyTest.ts
  packages/contracts/test/utils.ts
  packages/sdk/src/abi/Factory.ts
  packages/sdk/src/client/actions/account.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: add public submodule
  .gitmodules
Due: none

chore: checkout submodules
  .github/workflows/ci.yml
Due: prettier --write --ignore-unknown

fix: checkout submodules on all steps
  .github/workflows/ci.yml
  .github/workflows/deploy-auth-server.yml
  .github/workflows/deploy-nft-quest.yml
  .github/workflows/deploy-package.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/lint.yml
Due: prettier --write --ignore-unknown

feat: proxies, deploy scripts and cleanup (#183)
  cspell-config/cspell-misc.txt
  packages/auth-server/stores/client.ts
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  packages/contracts/project.json
  packages/contracts/scripts/deploy.ts
  packages/contracts/src/AAFactory.sol
  packages/contracts/src/AccountProxy.sol
  packages/contracts/src/EfficientProxy.sol
  packages/contracts/src/SsoAccount.sol
  packages/contracts/src/TransparentProxy.sol
  packages/contracts/src/UpgradeableBeacon.sol
  packages/contracts/src/batch/BatchCaller.sol
  packages/contracts/src/handlers/ERC1271Handler.sol
  packages/contracts/src/handlers/ValidationHandler.sol
  packages/contracts/src/interfaces/IERC7579Module.sol
  packages/contracts/src/interfaces/ISsoAccount.sol
  packages/contracts/src/interfaces/IUpgradeManager.sol
  packages/contracts/src/interfaces/PackedUserOperation.sol
  packages/contracts/src/libraries/ERC7579Mode.sol
  packages/contracts/src/libraries/Errors.sol
  packages/contracts/src/libraries/SessionLib.sol
  packages/contracts/src/libraries/SignatureDecoder.sol
  packages/contracts/src/libraries/SsoStorage.sol
  packages/contracts/src/managers/HookManager.sol
  packages/contracts/src/managers/ModuleManager.sol
  packages/contracts/src/managers/UpgradeManager.sol
  packages/contracts/src/validators/PasskeyValidator.sol
  packages/contracts/src/validators/SessionKeyValidator.sol
  packages/contracts/src/validators/WebAuthValidator.sol
  packages/contracts/test/BasicTest.ts
  packages/contracts/test/ErrorChecker.sol
  packages/contracts/test/signed-ethers-passkey.json
  packages/contracts/test/signed-viem-challenge.json
  packages/contracts/test/utils.ts
  pnpm-lock.yaml
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore(nft-quest): adjust button styling (#195)
  examples/nft-quest/components/TransferZeek.vue
  examples/nft-quest/components/zk/link.vue
Due: cspell lint --no-must-find-files --files, eslint --fix

fix: eip1271 on sessions module (#198)
  cspell-config/cspell-sol.txt
  hardhat.config.ts
  src/helpers/Base64.sol
  src/helpers/EIP712.sol
  src/helpers/TokenCallbackHandler.sol
  src/helpers/VerifierCaller.sol
  src/test/VerifierCaller.sol
  src/validators/SessionKeyValidator.sol
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: add license and fix readme (#199)
  .github/workflows/ci.yml
  LICENSE
  README.md
Due: cspell lint --no-must-find-files --files, prettier --write --ignore-unknown

fix: add cross-origin check
  src/validators/WebAuthValidator.sol
Due: none

fix: split webauth from passkey validator
  src/validators/PasskeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: none

feat: integrate timestamp asserter (#137)
  src/helpers/TimestampAsserterLocator.sol
  src/interfaces/ITimestampAsserter.sol
  src/libraries/SessionLib.sol
  src/validators/SessionKeyValidator.sol
  test/SessionKeyTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore(auth-server): update paymaster address
  packages/auth-server/stores/client.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore(nft-quest): improve styling
  examples/nft-quest/components/TransferZeek.vue
  examples/nft-quest/components/zk/button.vue
  examples/nft-quest/nuxt.config.ts
  examples/nft-quest/pages/index.vue
  examples/nft-quest/pages/mint/index.vue
  examples/nft-quest/pages/mint/share.vue
  packages/auth-server/components/views/Auth.vue
  packages/auth-server/components/views/confirmation/RequestSession.vue
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: add cross-origin check (#200)
  src/batch/BatchCaller.sol
  src/validators/PasskeyValidator.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
  test/PasskeyModule.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: sdk connector interface improvements, and more (#202)
  README.md
  docs/sdk/client-auth-server/README.md
  examples/nft-quest/abi/ZeekNFTQuest.ts
  examples/nft-quest/nuxt.config.ts
  examples/nft-quest/stores/connector.ts
  packages/auth-server/components/views/confirmation/RequestSession.vue
  packages/sdk/README.md
  packages/sdk/package.json
  packages/sdk/src/client-auth-server/Signer.ts
  packages/sdk/src/client-auth-server/WalletProvider.ts
  packages/sdk/src/client-auth-server/index.ts
  packages/sdk/src/client-auth-server/rpc.ts
  packages/sdk/src/client-auth-server/session.ts
  packages/sdk/src/client-auth-server/session/index.ts
  packages/sdk/src/client-auth-server/session/type-utils.ts
  packages/sdk/src/client-auth-server/session/utils.ts
  packages/sdk/src/client/clients/passkey.ts
  packages/sdk/src/client/clients/session.ts
  packages/sdk/src/connector/index.ts
  packages/sdk/src/index.ts
  packages/sdk/tsconfig.base.json
  pnpm-lock.yaml
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix: remove more files that confused nx
  eslint.config.js
  firebase.json
  nx.json
  package.json
  project.json
Due: cspell lint --no-must-find-files --files, eslint --fix, prettier --write --ignore-unknown

chore: replace helpers with imported libs (#209)
  package.json
  pnpm-lock.yaml
  src/handlers/ERC1271Handler.sol
  src/helpers/Base64.sol
  src/helpers/EIP712.sol
  src/validators/WebAuthValidator.sol
Due: prettier --write --ignore-unknown

fix: hardhat params must be lower case (#206)
  scripts/deploy.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: update deps (#210)
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

fix: allow revoke keys via paymaster (#212)
  package.json
  src/test/ExampleAuthServerPaymaster.sol
Due: prettier --write --ignore-unknown

chore: update deployment script (#213)
  .env.example
  scripts/deploy.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

chore: update to renamed action (#214)
  .github/workflows/ci.yml
Due: prettier --write --ignore-unknown

chore: clean up unused code (#207)
  .gitignore
  README.md
  package.json
  pnpm-lock.yaml
  src/AAFactory.sol
  src/SsoAccount.sol
  src/auth/Auth.sol
  src/auth/ModuleAuth.sol
  src/handlers/ValidationHandler.sol
  src/interfaces/IModule.sol
  src/interfaces/IModuleManager.sol
  src/interfaces/IModuleValidator.sol
  src/interfaces/IOwnerManager.sol
  src/interfaces/ISsoAccount.sol
  src/interfaces/IValidator.sol
  src/interfaces/IValidatorManager.sol
  src/libraries/Errors.sol
  src/libraries/SsoStorage.sol
  src/managers/HookManager.sol
  src/managers/ModuleManager.sol
  src/managers/OwnerManager.sol
  src/managers/ValidatorManager.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
  test/SessionKeyTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

fix: multi validator account creation (#217)
  src/validators/SessionKeyValidator.sol
Due: none

Revert "fix: multi validator account creation" (#218)
  src/validators/SessionKeyValidator.sol
Due: none

chore: add sepolia timestamp asserter address (#220)
  src/helpers/TimestampAsserterLocator.sol
Due: none

Session Validation Module Interface Update (#208)
  src/AAFactory.sol
  src/SsoAccount.sol
  src/handlers/ERC1271Handler.sol
  src/handlers/ValidationHandler.sol
  src/interfaces/IHook.sol
  src/interfaces/IHookManager.sol
  src/interfaces/IModuleValidator.sol
  src/interfaces/ISsoAccount.sol
  src/libraries/SignatureDecoder.sol
  src/managers/HookManager.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
  test/BasicTest.ts
  test/SessionKeyTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: make factory proxy work (#216)
  scripts/deploy.ts
  src/AAFactory.sol
  src/SsoBeacon.sol
  test/SessionKeyTest.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: gas estimation failures due to fee limit (#221)
  hardhat.config.ts
  package.json
  scripts/deploy.ts
  scripts/upgrade.ts
  src/libraries/SessionLib.sol
  src/validators/SessionKeyValidator.sol
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit, prettier --write --ignore-unknown

chore: attempt to deploy factory via create2
  test/BasicTest.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: salt location
  test/BasicTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

fix: stop trying to re-create the addresses
  src/AAFactory.sol
  test/BasicTest.ts
  test/utils.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

feat: check compare with create2
  test/BasicTest.ts
Due: cspell lint --no-must-find-files --files, eslint --fix, tsc-files --project ./tsconfig.base.json --noEmit

Path conditions:
  cspell lint --no-must-find-files --files: (any of: *.{js,ts,vue,mjs,cjs}) or (any of: *.md)
  eslint --fix: any of: *.{js,ts,vue,mjs,cjs}
  tsc-files --project ./tsconfig.base.json --noEmit: any of: *.ts
  prettier --write --ignore-unknown: any of: *.{yml,yaml,json}
